[2012-10-10 21:20] mdaines opened #2 ""Crazy" example with SVG output fails intermittently in Safari"

[2012-10-21 13:40] darkrift opened #3 "Gradients"
Is it possible to draw gradients ?

I'm pretty new to graphviz and this javascript library too, but I've tried some examples of gradients and couldn't make it working...

Can you put a working sample for node gradients if this library supports it ?

Thanks

[2012-11-22 17:08] normanrz opened #4 "Can't compile with latest Emscripten"
I tried compiling this awesome project because I fixed a bug in Emscripten (https://github.com/kripken/emscripten/pull/727)

However, it only works for me when I remove the -O2 param from the makefile.
Otherwise I get this error:

[code]

I'm not sure if this bug is more related to viz.js or Emscripten as I didn't quite understand the js optimization step yet.

[2012-11-23 01:05] #4 closed, assigned to nobody

[2012-11-30 19:36] srathbun opened #5 "viz.js fails in node"
Attempting to require viz.js from node fails with the following error:

[code]

This code bit gets added after the fact in the post.js file, if anyone wants to know where it comes from.

[2012-12-05 15:04] #5 closed, assigned to nobody

[2013-01-09 16:23] CAFxX opened #6 "Include more layouts"
It appears that the only layout currently supported is dot, all others (e.g. neato, twopi, etc.) can not be used.

[2013-01-18 17:05] pierrotdelalune opened #7 "No license"
As I would like to use viz.js in a commercial software, I would like to know the license you intend to attach to viz.js.

[2013-01-25 15:45] #7 closed, assigned to nobody

[2013-01-27 06:36] siefkenj opened #8 "Support for html-like Labels"
You've done a great job trimming down and compiling graphviz to a usable javascript library!  I was wondering how difficult it would be to build vis.js with libexpat so vis.js would support html-like tables?

[2013-01-28 00:10] siefkenj opened #9 "Uncaught failed assertion when node belongs to multiple ranks"
I am not sure if it is in the scope of this project, but when presented with the following graph

[code]

dot issues `Warning: a was already in a rankset, ignored in cluster _anonymous_0` and continues processing the graph.  Viz.js on the other hand issues `Assertion failed: find_fast_node(g, n), at: fastgr.c,231,delete_fast_node` and does not continue laying out the graph.  When dot runs is it ca

[2013-01-28 01:18] #9 closed, assigned to nobody

[2013-01-31 07:48] lenntt opened #11 "Differences Liviz.js / Graphviz.js / Viz.js"
Hi,
I was looking into javascript implementation of graphviz and found these three.
You have the latest update and a reference to the others, so I hope you could tell me what the differences are.
I already found out liviz.js has pretty slick animations, but does not support dot fully (i need dot clusters).
What about graphviz.js?

[2013-02-01 04:49] siefkenj opened #12 "Support multiple versions of graphviz"
Would you be amenable to supporting multiple versions of graphviz in the Makefile?  I got 2.26 to compile with only minor modifications (newer versions crashed on my graphs...)  Would it be appropriate to add a make 2.26, make 2.28 and have it default to the newer one?

[2013-02-01 15:20] #11 closed, assigned to nobody

[2013-02-21 15:58] lenntt opened #13 "ReferenceError: Can't find variable: Float64Array"
When testing as project that uses viz.js with [jasmine-headless-webkit](http://johnbintz.github.com/jasmine-headless-webkit/), which uses qtwebkit, the test fails with the error:

[code]

Everything works fine running the same tests from a browser. please let me know I need to provide more information.

[2013-02-28 12:24] lenntt opened #14 "Special Characters: Results in syntax error"
When I have the following dot code (with setting charset or leaving it default to utf8):

[code]

Then Viz.js rendering does not render the edge and shows an error:

While running graphviz from the command line by:

[code]

I get the svg I expected.

There's probably not a simple fix for this (or has emscripten some build-in magic??), but though you should know.

[2013-04-03 00:44] #8 closed, assigned to nobody

[2013-05-13 23:06] gschrader opened #16 "IE9 support"
Please don't laugh at me, how hard would it to support IE9.  Right now it gives a "ReferenceError: 'Int32Array' is undefined" looks as though that will be supported in IE10 but we'll have people try and use it with old versions of IE.

[2013-05-16 01:23] #16 closed, assigned to nobody

[2013-05-16 01:24] #13 closed, assigned to nobody

[2013-07-26 02:00] #6 closed, assigned to nobody

[2013-08-14 17:45] cjrd opened #18 "Build instructions and file size"
Hello

Could you provide build instructions for obtaining viz.js from graphviz?

Also, viz.js is a massive file, even after minification. Do you know if it's possible to build a light-weight version with only dot?

Thanks for any help!

[2013-09-01 01:54] japgolly opened #20 "GraphViz 2.32"
Hi. I managed to get GraphViz 2.32 building.
https://github.com/japgolly/viz.js/tree/graphviz232

I wont make a pull request because I think most testing is required but this is a good first step.

I've removed engines other than DOT.
The compiled viz.js is 1.4 MB and included in my repo.
I applied 2 hacks to emscripten's includes, see NOTES.md.

[2013-10-05 13:53] kaystrobach opened #21 "Please add a license to this repository - thank you"

[2013-10-07 23:08] #21 closed, assigned to nobody

[2013-10-16 03:04] calfzhou opened #22 "Is there any way to not show the background rectangle?"
By default, the generated svg will have a white colored polygon as its background and boundary. This rectangle will only be visible when the page is not white. But I'd like to make this background transparent to make the figure looks more comfortable with non-white web page. Is there any way to make it happen?

The default behavior:
![image](https://f.cloud.github.com/assets/3761553/1339656/ee2b07

[2013-10-16 03:22] #22 closed, assigned to nobody

[2013-10-29 11:31] #18 closed, assigned to nobody

[2014-01-08 12:38] aamirfaried opened #23 "A bit large graph is not getting displayed"
Hi
It is using it (viz.js) for my application to draw graphs dynamically and it worked well.

But now when i moved bit further and i introduce subgraphs and clusters, i got problem with vis.js. My graph is not that big but it has many clusters. it works great with Graphviz tool but when i run it with Viz.js it is showing following error:

abort() at Error
    at stackTrace (http://localhost:7001/T

[2014-01-30 01:46] cowboygneox opened #24 "Images are not working (that I can figure out)"
Hey guys,

Using the following graph, I cannot get an image to load:

[code]

It could easily be that I don't know how to properly link to the image, but I tried numerous combinations of paths absolute and relative, and no luck. Is this supposed to work?

[2014-01-31 02:10] #24 closed, assigned to nobody

[2014-04-11 09:03] MilWolf opened #27 "Doesn't Generate positions with dot in the latest release."
data = "digraph G {
16 -> 4;
16 -> 8;
16 -> 20;
16 -> 24;
16 -> 32;
20 -> 32;
}"

var svg = Viz(data, "dot");

[2014-04-15 05:39] #20 closed, assigned to nobody

[2014-04-15 05:46] #14 closed, assigned to nobody

[2014-04-15 05:49] #12 closed, assigned to nobody

[2014-04-15 14:45] #27 closed, assigned to nobody

[2014-04-22 06:18] Engelberg opened #28 "Images at nodes"
Graphviz supports images at nodes, but I can't seem to get it to work in viz.js.

For example:

[code]

Is there any trick to getting this to work, or is it simply not supported?  Thanks.

[2014-04-22 08:50] #28 closed, assigned to nobody

[2014-04-28 07:31] MilWolf opened #29 "is that the attribute "splines" with "curved" value will be operational later?"
everything is in the title, i tried it and it doesn't work.
Maybe the functionality is not available?

[2014-05-31 15:20] fyears opened #30 "please add the generated viz.js in master branch"
... so that others (like me) can find what they need easily without compiling viz.js by themselves.

Or, at least, please point out the [example page in gh-pages branch](http://mdaines.github.com/viz.js/example.html) in README so that others (like me) can know how to use viz.js easily.

Thanks for the great job!!

[2014-06-04 00:27] #30 closed, assigned to nobody

[2014-06-05 13:08] sbellus opened #31 "Demo page is not working in IE9"
The page http://mdaines.github.io/viz.js/form.html is not generating graph in IE9.

The same behavior I observe also with my page where Viz.js is integrated I get "abort() at (no stack trace available)" in IE9. Chrome and Firefox are OK. They generate graphs.

![ieversion](https://cloud.githubusercontent.com/assets/436473/3187575/569879c2-ecb2-11e3-8696-2ac0eb30b754.png)

[2014-07-11 00:07] #31 closed, assigned to nobody

[2014-07-24 14:33] kurteknikk opened #32 "SVG element ids"
I need to create an interactive graph in SVG.

I'm trying to add onclicks to the svg nodes but there is no relationship between the 'DOT language element id' and the 'SVG element id'.

Have you ever tried doing something similar ? Is this something we can work around / fix during the creation of the graph in SVG ?

[2014-07-25 07:48] duongtb1989 opened #33 "Get node attributes when render SVG?"
Hi.
I want to get node attributes: pos, color,.... when using Viz.js render SVG?
Can you please help me?
Thanks in advance for your attention!

[2014-07-27 15:20] #32 closed, assigned to nobody

[2014-07-27 15:29] #33 closed, assigned to nobody

[2014-09-08 11:20] DaniHaag opened #34 "Layout type: "sfdp" not recognized"
When I try to use the sfdp layout in with viz.js (@see http://www.graphviz.org/Documentation.php) I get an error message
`Error: Layout type: "sfdp" not recognized. Use one of: circo dot fdp neato nop nop1 nop2 osage patchwork twopi`
I did not compile the viz.js I just used the version http://mdaines.github.io/viz.js/viz.js and adapted the form.html to support sfdp.

You may easily reproduce it if

[2014-09-16 14:21] rainer81 opened #35 "Shapefile is not supported"
Hi, I would like to use graphic icons in my graph. I define a node as a shapefile:
digraph G {
...
Computers_icon [label="", shape=box, style=invis, shapefile="Computers.png"];
...
}

Unfortunately viz.js won't create a new image-tag in g-tag with attribute class="node".

Could you please check this issue. Thank you. Rainer

[2014-09-17 21:17] #35 closed, assigned to nobody

[2014-12-02 01:49] tommywsq opened #36 "MODULE NAME 'fs' HAS NOT BEEN LOADED YET FOR CONTEXT by using viz.js"
Hi,

I got a problem when used viz.js to create graph. You can see the code as follow:

var deps = [
"viz.js"
];

require( deps, function() {
drawGraph();
});

function drawGraph(){
var g = "digraph G { a1 -> b3; b2 -> a3; a3 -> a0; }";
var tt=Viz(g,"svg");
document.body.innerHTML += tt;
}

I got the error: Uncaught Error: Module name "fs" has not been loaded yet for context: _. Use require([])
ht

[2015-01-15 09:15] tzolov opened #38 "Create a Polymer element for viz-js"
some initial implementation: http://tzolov.github.io/viz-js/components/viz-js/ &
[viz-js polymer element project](https://github.com/tzolov/viz-js)

[2015-01-16 21:43] pmlemay commented on #29
Hi, I am trying to have only horizontal and vertical lines using ortho splines but it doesn't seem to work.
I am using svg format and dot engine. Is this normal?

[2015-01-17 23:25] stray-leone opened #39 "fail to install viz.js"
I try to install viz.js as below
but, I failed.
after I struggled with installation, write a issue.

my environment is ubuntu 14.04

[code]

the below is error message
[code]

[2015-01-19 06:46] vmarkovtsev commented on #39
Man, you have a long way to go...

First of all, this has nothing to do with viz.js but with Emscripten in general. You must install fastcomp backend and change ~/.emscripten accordingly.

Read:

http://kripken.github.io/emscripten-site/docs/building_from_source/LLVM-Backend.html
http://kripken.github.io/emscripten-site/docs/building_from_source/building_fastcomp_manually_from_source.html#building

[2015-01-19 08:08] stray-leone commented on #39
Thank you for your reply.

I build fastcomp from source
and After run ```make```, I saw the message below
[code]
- and my ~/.emscripten file is below
Is there anything to do??
I am discouraged.... It is very hard to draw dot graph ...
Thank you :)
[code]

[2015-01-19 13:18] vmarkovtsev commented on #39
It can be the compatibility bug between emscripten and the freshly built fastcomp. Try updating emscripten to the most recent version and re-make:

[code]

[2015-01-21 16:52] pmlemay opened #40 "splines=ortho not working"
Hi,

I tried to put orthogonal lines in my graph and it doesn't seem to work. I also tried it in the cluster graph of example.html and it is also not working.

I added the graph options before the subgraph cluster_0. Curved, Line and Polyline work as intended but ortho is not doing only horizontal and vertical lines as it should. Instead, it has the same output as poylines.

digraph G {
    graph

[2015-02-01 20:56] mstefaniuk opened #41 "Using viz.js distribution in WebWorker together with require.js"
I'm developing an [online Graphviz dot editor](/mstefaniuk/graph-viz-d3-js) and I'm using old version of `viz.js`. I made a common module adding define wrapper around distribution code and I embedded it in WebWorker with use of `require()` as described in [its guideline](http://requirejs.org/docs/api.html#webworker).

Now I'm trying to upgrade to newer version but I have problems to use it in the

[2015-03-10 10:29] vutruong-quantic commented on #40
I have the same issue. Hope to have the fix soon.

[2015-04-13 16:14] hmaalmi commented on #29
Hi,
@pmlemay i'm facing the same problem did you make it work ? thank you

[2015-04-14 13:51] pmlemay commented on #29
Hey @hmaalmi,

I never got it to work and opened an issue a while ago (splines=ortho not working #40) but I chose to go with graphviz-ruby server side to achieve what I needed.

https://github.com/glejeune/Ruby-Graphviz/

[2015-08-08 14:34] vasiqmz opened #42 "RangeError: Maximum call stack size exceeded"
I'm using the compile Viz.js 0.0.3 file. I'm able to see the output when it has 96 nodes but as soon as the nodes goes up from 96 I get the error.

Range Error: Maximum call stack size exceeded.

Anyone has faced this issue ?

[2015-08-08 18:59] lkwg82 commented on #42
Can you break it down to an example to debug it?

[2015-08-08 20:45] vasiqmz commented on #42
<!DOCTYPE html>
    <html>
      <head>
    <meta charset="utf-8">
        <title>Viz.js</title>
      </head>
      <body>

    <script type="text/vnd.graphviz" id="cluster">
    digraph rule0{
	 node[shape=ellipse];
	 si1 -> 0
	 node[shape=ellipse];
	 si1 -> si2 [style=dashed]
	 node[shape=ellipse];
	 si2 -> 0
	 node[shape=ellipse];
	 si2 -> si3 [style=dashed]
	 node[shape=ellipse];
	 si3 -> 0

[2015-08-13 10:54] Hermann-SW commented on #40
I can confirm that "splines=ortho" does not work:
https://stamm-wilbrandt.de/GraphvizFiddle/?1439462733206#digraph%20Orthogonal%20%7B%0A%20%20layout%3Ddot%0A%20%20graph%20%5Blabel%3D%22Orthogonal%20edges%22%2C%20splines%3Dortho%2C%20nodesep%3D0.8%5D%0A%20%20node%20%5Bshape%3Dbox%5D%0A%20%20a-%3E%7Bb%20c%7D%0A%20%20b-%3E%7Bd%20e%7D%0A%20%20c-%3E%7Bf%20g%7D%0A%7D

According this thread support for o

[2015-09-02 09:24] apfelgluck opened #43 "Cannot use images in svg"
Hello,

I trying to generate a SVG including local images (the idea is to change local path to url once the svg is done), but i cant find where to put the images.
the svg is generate without them.

for the Dot :

digraph g{
  mynode[image="image.png", label=""];
}

i get the message :

Warning: No such file or directory while opening image.png Warning: No or improper image="image.png" for node "my

[2015-09-02 09:44] #43 closed

[2015-09-04 12:10] mdaines commented on #41
The wrapper code for Viz.js used to reference the `window` object, so it didn't work well with Web Workers. I've changed this in the most recent version. Have a look at the gh-pages branch for an example of running Viz.js in a Web Worker: https://github.com/mdaines/viz.js/tree/gh-pages

[2015-09-04 12:10] #41 closed

[2015-09-04 12:13] mdaines commented on #3
Viz.js now uses Graphviz 2.38.0, which supports gradients.

[2015-09-04 12:13] #3 closed

[2015-09-04 12:13] #2 closed

[2015-09-04 12:14] #39 closed

[2015-09-06 05:21] p1o2p3u1 opened #45 "Cannot enlarge memory arrays. Probably memory leak?"
I use websocket to draw graphs dynamically using viz.js. However when the Viz function is called too much times it will throw the following error
[code]

You can open your Chrome console and run the following code and it will give you the same error message
[code]

[2015-09-13 14:35] mdaines commented on #45
Thanks for reporting this. The Viz.js wrapper code wasn't freeing memory allocated by the Graphviz library. This is addressed in 425313ec8cc637d685088412c5db81198ca76041 and I'll post a release shortly.

[2015-09-13 14:35] #45 closed

[2015-09-13 14:57] mdaines commented on #45
https://github.com/mdaines/viz.js/releases/tag/1.0.1

[2015-09-15 10:45] #36 closed

[2015-09-15 10:46] #23 closed

[2015-09-15 10:47] #29 closed

[2015-09-15 10:47] #38 closed

[2015-09-15 10:49] mdaines commented on #34
This would require building and packaging [GTS](http://gts.sourceforge.net). I may add this option in the future.

[2015-09-15 10:49] #34 closed

[2015-09-15 10:52] mdaines commented on #40
The example in the Stack Overflow post now renders as expected.

[2015-09-15 10:52] #40 closed

[2015-09-15 10:53] #42 closed

[2015-09-28 13:01] Hermann-SW commented on #40
Thank you. I wanted to try but cannot get empscripten setup correctly. Is there a new compiled Viz.js somewhere available online?

Hermann.

[2015-09-29 19:39] mstefaniuk commented on #41
@mdaines In your example `viz.js` is included into `WebWorker` with `importScripts()`. My question was how to do it the same with use of `require.js`.

[2015-09-30 10:23] mdaines commented on #40
Compiled versions are published here: https://github.com/mdaines/viz.js/releases

[2015-09-30 10:32] mdaines commented on #41
In that case, I don't know. I assume you'll have to either add the `define` wrapper yourself or use a shim: http://requirejs.org/docs/api.html#config-shim

[2015-09-30 13:42] Hermann-SW commented on #40
Thank you, I have 2 followup questions:

1)
I took 1.0.1 viz.js and installed example.html on local webserver.
Accessing by "google-chrome example.html" or "firefox example.html" works perfectly.
But opening via "http://127.0.0.1/.../example.html" (the same file) does not (neither Chrome nor Firefox).
Error message is " Uncaught ReferenceError: Viz is not defined".
Did I do something wrong, or is

[2015-09-30 15:06] Hermann-SW commented on #40
Sorry, (1) seems to be a problem with my local webserver, works on internet:
http://stamm-wilbrandt.de/Viz.js/1.0.1/

Question (2) is still open.

[2015-10-01 21:24] mdaines commented on #40
I've tested these engines:

- dot
- neato
- circo
- twopi
- fdp

I believe osage also works. sfdp is not supported at the moment because of the dependency on GTS.

[2015-10-16 11:10] mstefaniuk opened #46 "Error reporting with subsequent viz.js calls"
When calling `Viz()` only first time error line matches original input. Next calls return errors on incrementing lines. Some errors are reported only first few calls. Example of this behavior can be viewed [on fiddle](http://jsfiddle.net/a76dne8u/4/).

Also reporting on `console` is little bit inconvenient but it is another issue.

[2015-10-19 11:08] mdaines commented on #46
That's pretty odd. I'll have a look.

Proper error reporting is next on my list.

[2015-10-23 21:23] #46 closed

[2015-10-25 17:23] vvakame opened #47 "publish to npm"
please publish viz.js to npm.
Do you merge pull request if I make a package.json and add [UMD](https://github.com/umdjs/umd) support?

* add package.json
* add UMD pattern. It make possible to load by browser and node.js context.
* publish to npm

usage.

[code]

[2015-10-26 11:04] mdaines commented on #47
At this time, I'm leaning toward not doing this, but I'm interested to know why you want to.

What do you see as the advantage of being able to use Viz.js from node? If you have node available to you (ie, you're not in the browser environment) can't you just use Graphviz?

[2015-10-26 14:16] vvakame commented on #47
1. I want to use viz.js in GitHub [Atom](https://atom.io/).
atom plugin can access to npm/apm repository. If user must install Graphviz manually, it is not convenient.

2. in browser context.
browser app are built with browserify recently.
It can process npm packages.
please see this web page. http://blog.npmjs.org/post/101775448305/npm-and-front-end-packaging

[2015-10-26 17:16] mstefaniuk commented on #47
I would suggest to put `viz.js` on Bower.

[2015-10-27 01:07] mdaines commented on #47
I've published a Viz.js package on Bower ("viz.js") since I think it's a better fit than npm.

I have also changed the way the `Viz` function is exported to hopefully make it easier to use with Browserify. See 38bee06c39a9603969d65e18132b4d07337e7fea.

[2015-10-27 01:07] #47 closed

[2015-10-27 02:38] vvakame commented on #47
umm..

[2015-10-27 03:59] hashrock commented on #47
How about publishing to both bower and npm?
Some people prefer npm than bower.

[2015-10-27 11:02] mdaines commented on #47
Maybe it would be OK. However, there is already a Viz.js npm module published by someone else! https://www.npmjs.com/package/viz.js

I will contact the maintainer.

[2015-10-27 11:29] vvakame commented on #47
thanks! :+1:

[2015-10-27 12:22] hashrock commented on #47
thanks :)

[2015-10-27 21:58] caseywatts opened #48 "SVG to PNG"
Hi!
I've done some work related to this project I wanted to share :D

github.com/caseywatts/graphviz-repl

Specifically, I wanted the output of `viz.js` to be an image I could easily copy-paste into another environment (like Slack).

If we take the svg output from graphviz, we can convert it to a PNG by dipping it through the canvas.
`var svg_data = Viz(dotData, {'format':"svg", 'engine': type});`

[2015-10-28 10:56] mdaines commented on #48
Interesting. I have been wondering about supporting PNG output, but on the Graphviz/Emscripten side of things.

What about the API? It would be nice to be able to say something like this:

[code]

[2015-10-28 10:57] mdaines commented on #47
Viz.js is now on npm.

[2015-10-28 11:06] thoorp commented on #48
Absolutely!

[2015-10-28 22:43] mdaines commented on #48
I would have thought you'd need to wait until the SVG image loads in order to draw it?

Like this: https://gist.github.com/mdaines/b3a9fec09528533c7a50

[2015-10-29 18:41] caseywatts commented on #48
yes! thank you @mdaines :)

[2015-10-30 05:10] vvakame commented on #47
thanks a lot!

[2015-10-31 15:49] #48 closed

[2015-11-04 06:17] innovimax commented on #45
I just got the same issue today

Error: InternalError: uncaught exception: abort("Cannot enlarge memory arrays. Either (1) compile with -s TOTAL_MEMORY=X with X higher than the current value 16777216, (2) compile with -s ALLOW_MEMORY_GROWTH=1 which adjusts the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a higher value before the program runs, or if you want mall

[2015-11-04 11:43] mdaines commented on #45
@innovimax, it looks like this happened using the Viz.js demo page. Do you mind posting the graph you used? Did you run into this over many changes to the graph?

[2015-11-16 18:30] mstefaniuk opened #50 "Support for images in node attributes"
I've tried with on `viz.js` demo site:

[code]

but image wouldn't appear. I know it can be connected with JS security policy but maybe it can be handled by inlining invisible image in document, then get metadata (size) so rendering can be performed.

[2015-11-16 23:51] mdaines commented on #50
Does this work for you on the command line? I get the following output from `dot`:

[code]

[2015-11-17 00:41] mdaines commented on #50
From the Graphviz docs for the `image` attribute:

If I save the image from this graph to the same directory as the input file, and change the attribute value to just "doc-graphviz.png", the SVG output does include a (relative) link to the image.

Supporting images would be nice, however. I'll have to think about how to do this. It might be possible to do what you suggest — load the image in the b

[2015-11-17 08:46] mstefaniuk commented on #50
You are right - originally it's not working with remote images. Downloading images using main browser context has one major disadvantage - it needs DOM so it cannot be handled within WebWorker. Maybe it should be handled by small download helper (used outside worker) and map of images to embed (filename as key, contents or metadata as value).

[2015-11-17 10:31] jcable opened #51 "html-like labels"
[code]

results in the error:

  Warning: Not built with libexpat. Table formatting is not available. in label of node Welcome

(sorry can't work out how to stop Markdown intepreting the table).

I'm up for helping implement this if it makes sense.

[2015-11-17 11:30] mdaines commented on #51
Which build of Viz.js are you using? The example you quoted should be supported -- it works for me on the demo site: http://mdaines.github.io/viz.js/

I've edited your issue to fix the Markdown formatting. You need to use backticks on both sides of the code block, and put them on lines by themselves, like this:

[code]

[2015-11-17 11:49] mdaines commented on #50
Another option could be to use Emscripten's filesystem API in some way. It looks like Graphviz tries to call `fopen` on the image name (in this case an HTTP URL), and then reads image dimensions by looking at the image headers. So perhaps it could be done in a Web Worker context.

[2015-11-17 14:08] Hywan opened #52 "Reduce “binary” size"
Hello :-),

Is there a way to reduce “binary” (`viz.js`) size? For instance, PNG and xdot outputs are not interesting for me. Can I remove them? Maybe if I can compile `dot` without these renderers, I can use this `Makefile` the same way?

[2015-11-17 14:33] mdaines commented on #52
I've been looking at this recently. A recent commit 119049b0de8b319492f86ef34e1ade4af8d2efde does reduce the size a little, but removing renderers and other features may provide more savings.

Do you have a target size in mind?

[2015-11-18 05:20] vmarkovtsev commented on #52
Graphviz code isn't an example of good modular arch, neither is it's build system. It is hard to cut out parts. Hard, but possible fo sure.

[2015-11-18 05:33] jcable commented on #51
Thanks, you are right. I had some problems with the latest build which I have now resolved so the experiments I did where the html-like labels did not work were the version here: http://webgraphviz.com/

[2015-11-18 05:33] #51 closed

[2015-11-18 09:10] Hywan commented on #52
My goal would be to get only one renderer, like `dot` and being able to export to SVG only. Is it possible?

[2015-11-18 09:54] mstefaniuk commented on #52
I would select `xdot` only renderer.

[2015-11-18 10:06] susraj123 opened #53 "Curious - what are you using viz.js for?"
I will go first!

We are working on a tiny web based solution to show network infrastructure.

[2015-11-18 13:45] Hywan commented on #52
@mstefaniuk Why?

[2015-11-18 14:06] mstefaniuk commented on #52
In my project I'm using `xdot` output but not `svg`. But I've commented on this case to show different needs. To balance between them it would be nice to separate engine from renderers. They can be combined at runtime or dynamically loaded using `requirejs`.

[2015-11-19 06:27] Hywan commented on #52
@mstefaniuk I guess enabling them at runtime is very difficult. But statically, this is maybe more possible. Toughts @mdaines?

[2015-11-19 06:27] Hywan commented on #52
(How can we help?)

[2015-11-23 12:06] mdaines commented on #52
@vmarkovtsev is right, the Graphviz build system doesn't provide all that many options. If you don't need neato layout, I guess this output from `./configure` is not so encouraging:

[code]

One way to reduce the size of Viz.js (while also reducing features) would be to not include Expat. That's the sort of thing I would look at initially — compiler or build configuration settings. I do prefer the

[2015-11-23 12:09] Hywan commented on #52
@mdaines What about contributing to Graphviz in order to disable some layouts and output formatters?

[2015-11-23 16:28] davidjirovec opened #54 "Error when generating graph"
When I try to generate graph for
`digraph G { rankdir="LR" subgraph cluster_ORIGINATOR { DRAFT; } subgraph cluster_MRA_REVIEWER { PENDING_REJECT; PENDING_ASSIGN; DISCARDED; } subgraph cluster_MRA_PRIMARY_APPROVER { ASSIGNED; } subgraph cluster_MRA_SECONDARY_APPROVER { PENDING_DEPRECATE; APPROVED; DISALLOWED; APPROVED_AUTOMATICALLY; RETIRED; REJECTED; PENDING_RETIRE; PENDING_FINAL_REJECT; PENDING_A

[2015-11-25 16:24] jdavey opened #55 "Support HTML tags in labels"
[code]

In the graph viz app, this will be rendered correctly, but not with this the viz.js library

[2015-11-26 23:18] mdaines commented on #55
What is the correct rendering of this graph?

Here's what I get from the Graphviz command-line tool: (dot - graphviz version 2.38.0 (20140413.2041))

![test dot](https://cloud.githubusercontent.com/assets/1383/11431583/56ae8734-9469-11e5-88d7-21371950ec9b.png)

Here's what I get from Viz.js:

<img src="https://cloud.githubusercontent.com/assets/1383/11431584/5d4f6702-9469-11e5-8887-446fdc8883de.pn

[2015-12-03 11:12] NawfelBgh commented on #55
cc me.

[2015-12-03 18:07] jdavey commented on #55
I actually have the opposite behavior (subscripted node using GVEdit, non-subscripted with viz.js), but it may be related to how I am displaying it in my application.

I'm using the angular directive ng-bind-html which seems to render it without the subscript. However, as you have pointed it, doing in your demo app or in a singular webpage it renders correctly so I don't think this is a Viz.js iss

[2015-12-09 19:30] mstefaniuk opened #56 "Large diagram fails on Chrome / Safari"
I've checked with https://gist.github.com/mjpieters/29623e9585fd694cdcc5 and it crashed with `Uncaught RangeError: Maximum call stack size exceeded`. Maybe there is a place for optimizations.

[2015-12-10 11:13] aquaalex commented on #53
graphical representation of workflows

[2015-12-10 11:18] aquaalex commented on #55
@jdavey maybe close this item, it does not look like a viz.js issues

[2015-12-10 11:21] aquaalex commented on #56
Hi @mstefaniuk  I have tested your super large graph in my local install of viz.js and no error. It generates a super large image. And not too slow either. Well done @mdaines

[2015-12-10 12:35] mstefaniuk commented on #56
@aquaalex Strange but maybe only little bit. Today I've repeated test on [official viz.js demo site](http://mdaines.github.io/viz.js/) on Windows and it works both on Firefox and Chrome. Yesterday I've checked it on Firefox, Chrome and Safari on OS/X - last two returned error I mentioned. Maybe it's only a OS/X error? Or maybe it happens when `viz.js` is deployed within WebWorker?

[2015-12-10 13:14] aquaalex commented on #56
@mstefaniuk maybe it is worth it looking at different versions of browsers? Not sure about the WebWorker issue, but that should be an easy test.

[2015-12-10 17:07] #55 closed

[2015-12-11 20:41] mstefaniuk commented on #56
I've checked it just now and when launched on Chrome 47.0.2526.80 (64-bit) on OS/X I've received original error. The same on Safari 9.0.1 (11601.2.7.2).

![Chrome screenshot](https://cloud.githubusercontent.com/assets/722848/11754984/859c2b22-a04f-11e5-8c82-cb4677326b99.png)

![Safari screenshot](https://cloud.githubusercontent.com/assets/722848/11755030/bd8a7f52-a04f-11e5-9750-e87f245ccd21.png)

[2015-12-12 17:32] DeBAAT commented on #53
I'm using it to support some WordPress plugins.
One to bring GraphViz to WordPress as a plugin: [WP-GraphViz](https://wordpress.org/plugins/wp-graphviz/).
And another one using this plugin to visualise networks of services in a Service Oriented Architecture: [WP-SoaVis](https://wordpress.org/plugins/wp-soavis/).

[2015-12-31 09:16] aquaalex commented on #56
Just for Info I have tested Viz.js on a few versions of Windows and Android and a few versions of browsers

O/S: Windows 8.1
Firefox 43
Google Chrome 47
Internet Explorer 11

Android 5.0
Google Chrome 47

Windows 7:
Internet Explorer 9
Internet Explorer 8 - Javascript Error

Windows Server 2003 EE SP2:
Firefox 25
Google Chrome 20
Internet Explorer 7 - Javascript Error

[2015-12-31 09:19] aquaalex commented on #56
@mstefaniuk & @mdaines - It definitely seems to be an OSX issue, I wonder if anyone has tested it on any other Apple products.

[2015-12-31 10:00] mstefaniuk commented on #56
@aquaalex For sure there is one OS/X exception with Firefox. It looks rather as OS/X Webkit issue.

[2016-01-03 10:24] lillem4n commented on #53
I'm visualizating a neural network written in javascript.

[2016-01-08 08:53] aquaalex commented on #52
@Hywan That would be the ultimate win as it would improve GraphViz and therefore viz.js as well.

viz.js is very large at this point and not much space can be won with minifying it, so if we can maybe split various options to allow selecting which options you need at build time creating the smallest js file needed.

The other option is to find a way to create multiple javascript files with each fi

[2016-01-08 09:03] Hywan commented on #52
@aquaalex Contributing to GraphViz is our best option. Is there someone with a good karma over there?

[2016-01-08 13:02] jessyZu opened #57 "large file out of memory"
cosole error in chrome:

Cannot enlarge memory arrays. Either (1) compile with  -s TOTAL_MEMORY=X  with X higher than the current value 16777216, (2) compile with  -s ALLOW_MEMORY_GROWTH=1  which adjusts the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a higher value before the program runs, or if you want malloc to return NULL (0) instead of this abort, compile

[2016-01-08 23:45] magneticnorth commented on #52
Hi - we generally welcome all reasonable contributions.

I apologize a little for the build setup, but it's a product of its life and times. I could write a book.

In principle, the layout engines and drivers are almost completely pluggable.  I don't think any of the layout engines are that big though neato probably accumulated a bunch of code when the stress majorization solver came in, and more

[2016-01-10 19:20] ryepup commented on #53
sketch/plan high level software architecture: http://ryepup.github.io/c4-lab/, source at https://github.com/ryepup/c4-lab

[2016-01-13 21:44] mstefaniuk opened #59 "Viz not recover after error"
When Viz is called subsequently (the same instance) it cannot recover when unclosed quotes error is thrown. Failing case looks as follows:

[code]

First call throws an exception with `Error: syntax error in line 2 near ''` as expected. Subsequent gives `Error: syntax error in line 1 near '"'` until new Viz instance is created.

Viz is loaded using `require.js` with shim.

[2016-01-19 17:02] raphaelbastide commented on #53
Testing stuff without having to install Graphviz

[2016-01-25 13:27] LokiMidgard commented on #53
As a hacked together Word Addin. https://github.com/LokiMidgard/GrapvizForOffice

[2016-02-02 08:04] adamserafini opened #60 "Build error on latest commit, Emscripten 1.35.0"
I get an error when trying to compile the latest commit on Master (119049b0de8b319492f86ef34e1ade4af8d2efde) from source.

For reference, here is the output of `emcc -v` on my machine

[code]

The output from the build is quite large so I've posted it into a Gist [here](https://gist.github.com/adamserafini/7ef8bb3011cfc5fa1d9e).

(Perhaps I shouldn't be using latest commit on Master?)

[2016-02-02 08:55] adamserafini commented on #60
Just to add some more information: I am able to *successfully* build release [v1.3.0](https://github.com/mdaines/viz.js/releases/tag/v1.3.0). So the problem is introduced somewhere in latest 2x commits.

[2016-02-02 08:59] adamserafini commented on #52
Interestingly, the website www.webgraphviz.com uses a build of `viz.js` with a size of only 1.36 Megabytes.

This appears to be smaller than any 'official' release of `viz.js`. Perhaps its an earlier version? Unfortunately I can't see any version information in their build.

Does anyone know how they got a build that small? It appears to fulfil the basic functionality I need `viz.js` for (data str

[2016-02-19 21:22] ddonindia opened #61 "how to I self host viz.js?"
I have installed viz.js using npm install on my rpi 2 box.
But how do I host it to access it in browser.

[2016-02-24 04:55] japgolly commented on #52
I just started playing around with this again.

I only need DOT input and SVG output and long ago I used that to reduce the size. I've just now updated it - if you're interested, you can see two branches on [my fork](https://github.com/japgolly/viz.js).

Basically, I've gotten it down to as low as 1.2mb.

Graphbiz 2.28:
[code]

Graphbiz 2.32:
[code]

`viz.z3-.js` is smaller because it was compiled

[2016-02-24 05:19] japgolly commented on #52
(Btw: to make it clear, don't depend on any of that stuff without testing it. I'm not sure what does and doesn't work anymore. I haven't tested it yet myself.)

[2016-02-24 05:57] Hywan commented on #52
Is it even possible to automate the testing?
Good job so far! How is the next step?

[2016-02-24 06:16] japgolly commented on #52
Well 2.28 doesn't work, I tried making similar changes to it as I did to 2.32 to get it working and switch it over to cgraph but it just crashes at runtime. As for the 2.32 side, I curious to see if 2+ years of emscripten dev would magically reduce my custom build - it didn't. The file I generated years ago is 1,423,752 which is smaller. I may have screwed something up - I don't know - but I've co

[2016-03-01 07:25] jackycute commented on #50
It will be nice if it can support images.
:+1:

[2016-03-01 07:26] jackycute commented on #53
Realtime collaborative markdown notes on all platforms.
https://hackmd.io

[2016-03-01 09:10] ddonindia commented on #61
is this project still maintained ?

[2016-03-13 06:01] marnen commented on #53
I'm using it to draw Git commit graphs: https://github.com/marnen/octotrax

[2016-03-13 06:03] marnen opened #62 "Viz.js NPM package doesn't build with Brunch"
I'm using [Brunch](http://brunch.io) to build a [JavaScript project](https://github.com/marnen/octotrax) that depends on Viz.js. When I include Viz as a Bower package, it works fine, but when I include it as a NPM package, I get the following error at build time: `TypeError: Cannot read property 'split' of undefined`. (Other NPM packages do not have this problem with Brunch.) Any idea what's going

[2016-03-13 06:53] marnen commented on #62
On second thought, it may not be only a question of NPM vs. Bower. I note that even with Bower, I get the same error mentioned above when I do `let Viz = require('viz.js')`, instead of just letting `Viz` be a global variable.

This isn't ideal. I don't like global variables, and Viz really should be a well-behaved module like any other.

[2016-04-04 15:22] matkokvesic commented on #61
Try with this: https://github.com/matkokvesic/express-graphviz

[2016-05-06 19:59] Adam-Koza opened #63 "How do you use labels with special characters?"
like (  ) "space" * -

Thanks

[2016-05-20 09:12] swapi2689 opened #64 "Not able to open the diagram when there are multiple calls for the same node."
I am not able to open the diagram when there are multiple calls for the same node, from different nodes/edges, but say when I reduce the calling statement for the specific node which has been called multiple time, the graph is drawn.
I am using viz.js
 here is what the calling statements looks like and when I delete 20 or so, graph is generated fine.

31->563
44->563
51->563
56->88
69->574
70->592

[2016-05-31 15:47] #63 closed

[2016-06-06 16:55] ddonindia commented on #61
Thanks @matkokvesic.
I am getting "Error: syntax error in line 1 near '򀀀" error while running it.
Any idea how to fix it ?

[2016-06-06 17:07] ddonindia commented on #61
Thanks @matkokvesic :+1:

[2016-06-06 19:16] boessu opened #65 "Error when generating graph"
We try to integrate viz.js into plantuml. However, it seems as we get rarely an exception which looks as it has to do with viz.js. The .dot file works with GrapViz dot command line of course.

The following dot file generates an example abort exception:
[svek2.txt](https://github.com/mdaines/viz.js/files/301157/svek2.txt)

[code]

Nashorn Exception:

[code]

V8 exception:

[code]

[2016-06-08 21:02] boessu commented on #65
We guess it has to do with the labels on arrows. Also issue #54 will work if you remove the labels.

[2016-06-09 13:13] thambley commented on #65
It looks like it is one label in particular causes the issue.  I changed the color of the edge on the graph to red so you can see it better when the graph is generated.

[code]

[2016-06-10 16:17] boessu commented on #65
Yes, that seems to be the problem. It is the only label in the graph which forces the edge to "bend around" the label. Look on the red edge in the graph:

This one doesn't work with viz.js:
![svek3labelerror](https://cloud.githubusercontent.com/assets/2807976/15970659/069a268c-2f36-11e6-8226-993a6ba04b25.png)

This one works:
![svek3labelfine](https://cloud.githubusercontent.com/assets/2807976/159

[2016-07-11 10:57] hammenm opened #66 "Tooltip attribute not recognized"
I try to get a tooltip on one label, but it does not appear in the rendered svg. The code is below :

[code]

I expect to be written "foo" in a tooltip window when I left the cursor on the word NameEntity.
I tried to follow the specification of a dot file. Maybe there is a mistake in the text or it may not be implemented.

[2016-07-11 22:30] pimgeek commented on #66
But you can use Graphviz's own node tooltip:

    node1 [style=filled tooltip="hello"];

[2016-07-12 06:41] hammenm commented on #66
The problem is that I wanted do add different tooltip for each line.
Considering a multi-line label, like the example below, the tooltip is assigned to the whole label.
[code]
There may be a trick to force it to have two tooltip on "one" node.

[2016-07-12 20:47] LBierkandt commented on #54
I encountered the same error; perhaps another example helps pinning down the problem:

I got the error when trying to generate the following graph:
[code]
The stacktrace:
`
InternalError: uncaught exception: abort() at jsStackTrace@http://mdaines.github.io/viz.js/bower_components/viz.js/viz.js:5:20800 stackTrace@http://mdaines.github.io/viz.js/bower_components/viz.js/viz.js:5:20983 abort@http://md

[2016-07-16 12:06] pvnr0082t opened #67 "Check license"
Hi @mdaines ,
We are [cdnjs](https://github.com/cdnjs/cdnjs) team, we found that license info different between cdnjs and the repo.
Because the license info is not very precise, could you please point out the license the repo used from the following:
- "0BSD"
- "BSD-2-Clause-FreeBSD"
-  "BSD-2-Clause-NetBSD"
-  "BSD-2-Clause"
-  "BSD-3-Clause-Attribution"
-  "BSD-3-Clause-Clear"
-  "BSD-3-Clause-L

[2016-07-20 18:35] jaime-olivares commented on #53
I have created a Visual Studio Code extension for creating UML diagrams by using the yUML text syntax (see https://github.com/jaime-olivares/vscode-yuml). Currently it is invoking yuml.me, and right now I am eliminating that dependency by using the viz.js library (branch: v2)

[2016-07-20 18:39] jaime-olivares commented on #50
Hi @mdaines, I am using viz.js for generating UML diagrams (see https://github.com/jaime-olivares/vscode-yuml). Did you find a way to show a custom shape? (any method)

[2016-07-20 18:54] jaime-olivares commented on #43
Hi @apfelgluck, did you find a way to use images in shapes?

[2016-07-21 11:52] stephenfrancis commented on #53
Process and organization charts

[2016-07-24 03:09] jaime-olivares commented on #52
There is a huge array at the beginning of the compiled js file. Something like this:
[code]
It takes more than 500Kb. I estimate it would take half of its size if stored as a long base64 string, reducing the overall file size in ~7%.

I know this JS file is autogenerated, but some hand manipulation may contribute to optimize the size of it.

[2016-07-24 03:12] magneticnorth commented on #52
Well, better/worse, I’m sure the whole thing was generated by an algorithm in the first place.

Contact Yifan Hu      yifanh  on  G   m a i l    and ask him for the code?

Stephen North

[2016-07-24 03:24] jaime-olivares commented on #52
@japgolly, it would be great if you could publish your fork to NPM, so it can be easily consumed.

[2016-08-22 16:12] LBierkandt commented on #54
This is actually an instance of the bug reported in #65.

[2016-08-30 11:34] chungguo opened #68 "return empty string when execute the same statement repeatly."
Hi, @mdaines

Rencently,we found a problem that when executed the same statement below to generate a diagram,we got an empty string after one or two times and throw no error. what's more,it seems that it only appered in Chrome.Thanks!

[code]
Runtime environment: 5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2837.0 Safari/537.36

![image](https://cloud.githubu

[2016-09-03 02:48] jackycute commented on #52
I see the `viz.js` on http://www.webgraphviz.com/ again.
It's only 312 kb, it's crazy, we should ask them how they did it.

[2016-09-26 21:01] sverweij commented on #53
An atom package to write (and preview) GraphViz in Atom [sverweij/atom-graphviz-preview-plus](https://github.com/sverweij/atom-graphviz-preview-plus)

[2016-09-26 22:21] marnen commented on #53
@sverweij OMG that looks great! I'll be installing it.

[2016-09-28 12:18] #68 closed

[2016-10-20 13:23] BigBlueHat commented on #67
It's actually released under the [The Unlicense](http://unlicense.org/)--a form of public domain dedication. See the [SPDX info on The Unlicense](https://spdx.org/licenses/Unlicense.html).

It's not in the Open Source Initiative's list of [approved (by that organization) licenses](https://opensource.org/licenses/alphabetical)...but then neither is [CC0](https://creativecommons.org/choose/zero/).

[2016-10-27 05:32] tedwong opened #69 "Is this possible to add class in the generated SVG?"
For example, I would like make the shape have class or an id for js interaction. Any advance?

[2016-10-27 06:20] jaime-olivares commented on #69
There won't be advance. This project is officially frozen.

[2016-11-07 01:51] rstacruz commented on #69
I doubt it. You're better off making a transformation step that "fixes" up the SVG output.

[2016-11-17 19:32] akinnee-gl commented on #36
fs doesn't exist in the browser, but you can make a fake version of it.

[2016-11-22 14:32] mdaines commented on #69
It is possible to add an id attribute to SVG elements using the [id attribute](http://www.graphviz.org/content/attrs#did) in the DOT language. For example:

[code]

The `<g>` elements for the nodes will have the ids specified.

[2016-11-22 14:32] #69 closed

[2016-11-22 14:35] #67 closed

[2016-11-22 14:44] mdaines commented on #66
The command-line DOT tool appears to have the same behavior. You can assign an xlink:title attribute to the text in that cell if you use the HREF attribute, however:

[code]

[2016-11-22 14:44] #66 closed

[2016-11-22 14:47] mdaines commented on #64
The following graph renders for me in the [web interface](http://mdaines.github.io/viz.js/). Can you include the entire input you used?

[code]

[2016-11-22 15:03] mdaines commented on #62
Viz.js detects module.exports and will use that if present. Otherwise, it sets a global variable.

Following the Brunch tutorial, this `initialize.js` works for me if I install Viz.js 1.4.1 using npm. Note that I'm not using the `Viz` global.

[code]

[2016-11-22 15:03] #62 closed

[2016-11-22 15:03] #61 closed

[2016-11-22 15:04] #60 closed

[2016-11-22 15:05] mdaines commented on #60
In general, master should build with the latest Emscripten SDK.

[2016-11-22 15:11] mdaines commented on #57
The `Module` variable this refers to is hidden inside a closure. If you really want to do this, I would try one of the following:

1) Build Viz.js with a modified src/pre.js.
2) Edit the Viz.js release. You can find the closure and the Emscripten Module variable at the beginning of the file.

[2016-11-22 15:11] #57 closed

[2016-11-22 15:36] mdaines commented on #52
webgraphviz.com appears to be using an older build which is about ~1.3MB. It doesn't, for example, include Expat for HTML label support.

In terms of features, it seems like a smaller build should look something like this:

- Only needs to include the dot layout engine
- Only needs SVG output
- Doesn't need Expat

[2016-11-23 15:23] mdaines commented on #65
This appears to not be a problem with generating the graph, but rather when cleaning up. Here is the stack trace with optimizations and closure compiler turned off and assertions turned on:

[code]

A quick test with the Graphviz API from C doesn't appear to have the same issue. So this may have something to do with how Emscripten manages memory.

I was able to find a reduced test case, however. A

[2016-11-23 16:17] DeBAAT commented on #52
That would exactly be the features I need for my purpose: the WP-GraphViz plugin for WordPress.
Would it be possible to include this in the release download?

[2016-11-28 15:51] mdaines commented on #52
I'm working on this in the viz-lite branch. I have removed Expat and the -lgvplugin_neato_layout option, which brings viz.js down to 2.2MB (458K gzipped) so far. I'm going to look at an approach similar to what @japgolly was working on as well.

[2016-11-28 18:36] Hywan commented on #52
Excellent :+1: and bravo!

[2017-01-03 09:09] jackycute commented on #59
We also experienced this issue.

[2017-01-03 18:36] mdaines commented on #59
c687a63 should address this. I am attaching a build of that version if you wish to test it.

[viz.js.zip](https://github.com/mdaines/viz.js/files/682970/viz.js.zip)

[2017-01-03 19:04] jackycute commented on #59
I just tested it, it works.
But the error message seems a bit weird.
[code]

[2017-01-04 01:34] mdaines commented on #59
So it does. I'll update the test to check for the correct error message and see if I can find the problem.

[2017-01-14 14:37] mdaines commented on #52
By ensuring that all parts of the build use the -Os setting, I've reduced the size of the regular viz.js file to 2.3MB and viz-lite.js to 1.6MB. The gzipped sizes (obtained from running gzip with default settings) are 560K and 387K respectively. viz-lite.js will be in the next release (1.5.0).

[2017-01-14 14:38] #64 closed

[2017-01-14 14:39] mdaines commented on #59
This should be addressed in 2257a4017ed3bdc4bbf635279d9cd066091a425b and the fix will be in the next release.

[2017-01-14 14:39] #59 closed

[2017-01-14 14:42] mdaines commented on #65
This should be addressed in 2257a4017ed3bdc4bbf635279d9cd066091a425b. Viz.js will no longer attempt to clean up in its C code.

[2017-01-14 14:42] #65 closed

[2017-01-14 14:45] mdaines commented on #54
Addressed in 2257a4017ed3bdc4bbf635279d9cd066091a425b.

[2017-01-14 14:45] #54 closed

[2017-01-14 14:48] #52 closed

[2017-01-14 14:52] Hywan commented on #52
\o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/ \o/

Thanks! Incredible works, thanks!

[2017-01-16 09:14] mstefaniuk commented on #52
Is it possible to add xdot output in lite version? Maybe it is not size enlarging.

[2017-01-16 14:49] mdaines commented on #52
xdot output should be included in the lite version. It only omits Expat and neato layout for now.

[2017-01-17 08:18] Hywan commented on #52
@mdaines It sounds pretty correct.

[2017-01-17 10:31] LBierkandt opened #71 "Unicode error"
Using one of the v1.5.0 builds, I get the error `TypeError: e.UTF8ToString is not a function` when attempting to generate a graph containing a label with Unicode characters (either plain or html-encoded).

[2017-01-17 10:33] LBierkandt opened #72 "Out of memory"
Using one of the v1.5.0 builds, I get an `uncaught exception: out of memory` when generating a number of graphs in a row.

[2017-01-17 12:26] #71 closed

[2017-01-17 13:05] mdaines commented on #72
As of 1.5.0, Viz.js doesn't try to reuse the memory allocated on its initial run. This is an attempt to address situations like #65 and #59, but admittedly using kind of a blunt instrument.

What browser are you seeing this in? How many graphs are you generating in a row? Are they generated inside a `for` loop or in some other way? Can you post an example graph?

Both techniques I've used in the m

[2017-01-17 21:06] LBierkandt commented on #72
Thank you for the quick reaction!

I'm using Firefox 47.0.2 on Windows. The graphs are not created in a loop but manually when browsing through the [app](https://github.com/lbierkandt/graph-anno)'s sentences (it's an app for linguistically annotated text). The memory exception occurs after rendering about 60 graphs. An example graph:
[code]

[2017-01-18 14:36] mdaines commented on #72
I was able to get Firefox 47 on Windows to throw an out of memory error using the attached test case at about ~200 calls for that graph (see console for counts). However, Firefox 50 passes that test (1000 calls).

[memory-test.zip](https://github.com/mdaines/viz.js/files/714075/memory-test.zip)

[2017-01-22 17:36] IvanGoncharov opened #73 "Update graphviz to 2.40.1"
Here is changelog:
https://github.com/ellson/graphviz/blob/master/ChangeLog#L19
I'm very interested in:

[2017-01-23 23:24] mdaines commented on #73
Addressed in ba53f68dbfe301cec99a593b72f5772b4cfc0976.

[2017-01-23 23:24] #73 closed

[2017-01-24 14:13] IvanGoncharov commented on #73
@mdaines Thank you 🎉

[2017-01-24 16:18] IvanGoncharov commented on #73
@mdaines Can you please release update package?

[2017-01-24 20:58] mstefaniuk commented on #52
Lite version is not a part of bower package distribution. Please add it there.

[2017-01-25 13:12] mdaines commented on #52
I will include viz-lite.js in the Bower package in the next release.

I'm curious to hear from anyone who uses the npm package. Does it make sense to include viz-lite.js there as well, and how should that be done?

[2017-01-26 20:30] RomanGotsiy opened #74 "Huge performance drawdown since version 1.5.1"
Hi @mdaines. First, thank you for your hard work!

We work with big graphs and noticed a huge performance drawdown since version 1.5.1.

I have prepared a plunkr in which I measured time to build one of our sample graphs using 3 different versions of `viz.js`: `1.4.1`, `1.5.1` and `1.6.0`. On my machine (MacOS Sierra, Chrome 55) I've got the following results:

First run:
[code]

Second run:
[code

[2017-01-27 13:34] mdaines commented on #74
This was probably introduced in 1.5.0. In order to address #65 and #59, I changed Viz.js to create a new Emscripten module instance on every call (somewhat like running the `dot` program over and over on the command line, as opposed to using Graphviz as a library). The issues I linked have more detail, but there were two problems with reusing the module instance:

- certain kinds of syntax errors

[2017-01-27 19:38] RomanGotsiy commented on #74
@mdaines I have run the same test agains the much bigger dot file and this definitely doesn't look as an overhead caused by setting up module instances as it relates too much on graph size. For the github graph I attached to the previous issue I get the following numbers:

First run:

    Viz.js 1.4.1: 11277.684999999998ms
    Viz.js 1.5.1: 22888.15000000001ms
    Viz.js 1.6.0: 14689.070000000007m

[2017-01-30 15:04] mdaines commented on #74
Thanks for checking a larger graph -- I'll try modifying those options to see if there's any improvement and post the results here.

[2017-01-30 18:36] mdaines commented on #74
Here are my results (using Node). It looks like ALLOW_MEMORY_GROWTH slows things down, and that the -Os setting might be slightly faster. I've attached the builds below.

[code]

[Viz-1.6-issue-74.zip](https://github.com/mdaines/viz.js/files/739890/Viz-1.6-issue-74.zip)

[2017-01-30 21:26] RomanGotsiy commented on #74
Thanks for your efforts!

It would be great if we can fix this issue.

I see the point why you enabled `ALLOW_MEMORY_GROWTH` but believe we should disable it. Most of users work with small graphs so this setting doesn't change anything for them. But those who may be affected by memory limit struggle more because of bad performance. Our graph which caused out-of-memory crash now takes more than 80

[2017-01-30 22:22] mdaines commented on #74
My hunch also is that most people don't run into that problem. I could add an option to the `Viz()` function, like so:

[code]

[2017-01-30 22:25] RomanGotsiy commented on #74
@mdaines it would be perfect!

[2017-01-31 15:32] #74 closed

[2017-01-31 21:58] shd101wyy opened #75 "`eval` issue"
Hi,

First of all, thank you very much for this awesome library :)
I am writing a markdown package called [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) for atom editor, and I am using your library to render dot language graph.
It was working fine with viz.js version `1.3.0`, however after I upgraded it to `1.7.0`, it started casuing issue like:

It seems that

[2017-01-31 22:05] shd101wyy commented on #75
I just tried modifying the first line
`var e;e||(e=eval("(function() { try { return Module || {} } catch(e) { return {} } })()"));`
to
`var e;e||(e= Module || {});`
and it seems to be working.
not sure if that's the reason.

[2017-02-01 17:24] mdaines commented on #75
That call to `eval()` is emitted by Emscripten. We can replace it in the generated code, but I would prefer to address this by changing Emscripten settings if possible.

Emscripten does provide a `NO_DYNAMIC_EXECUTION` setting which removes calls to `eval()`, etc. but if that's used it won't run Closure Compiler. That increases the size of `viz.js` by about 100KB. I'll look at ways to use that set

[2017-02-11 02:42] TexAgg opened #76 "Large output (3mb) when used with webpack"
I was trying out Viz.js with Webpack, and the resulting bundle was a massive 3 megabytes, even after minification, even though my entry point is only 5 lines, and there are no other modules being imported.
[code]
`graph.txt` is only 8 kb, so I don't think that is what's causing the large size.
I don't know if its an optimization issue or I'm just using Webpack incorrectly.

Here is my `webpack.con

[2017-02-12 19:29] mdaines commented on #76
I assume the resulting bundle includes Viz.js, which is 2.3MB as of the [1.7.0 release](https://github.com/mdaines/viz.js/releases/tag/v1.7.0), the bulk of which is already minified using Closure Compiler.

Did you not want to include Viz.js in your bundle?

[2017-02-12 19:30] #76 closed

[2017-02-12 19:43] TexAgg commented on #76
Nevermind I didnt realise the relase was that big, i thought a bunch of extra files were being included.

[2017-02-14 08:49] LBierkandt commented on #72
I'm very sorry for the late response – I've been too busy with other stuff...

The memory issue seems to be quite system-dependent. When testing with Firefox 47 on Windows, 32bit, 3GB RAM, the error occured after 70 graphs. I also checked with FF 51 on Linux (same hardware) – there the error occured after generating 60 graphs (though, surprisingly, it ran up to 550 once).

I also tested v1.7.0 wit

[2017-02-20 23:33] maxMidius opened #77 "how to call a javascript function from a DOT URL attriibute"
I want to be able to route  click events  on  Nodes / Edges  to a local javascript function  with  arguments for things like \N  \H \T \E  etc  ..   Is this even possible  without changing DOT language syntax  ?
If not may be you have some other tips to get around it  ..  Thanks a lot.

[2017-02-20 23:50] maxMidius commented on #77
Never mind.  I was able to get this behaviour using things like
'javascript :  func1 ("\N")'     - which worked like expected.

[2017-02-20 23:50] #77 closed

[2017-02-21 16:10] RomanGotsiy commented on #53
An interactive tool for representing GraphQL APIs type structure: https://github.com/APIs-guru/graphql-voyager

[2017-02-21 20:59] jeysal commented on #53
A [simple wrapper package](https://github.com/jeysal/viz.js-cli-wrapper) to provide a cross-platform CLI similar to that of the original Graphviz.

And built on top of that, a [Gradle plugin](https://github.com/jeysal/gradle-graphviz-plugin) to use Graphviz rendering in Gradle builds without sacrificing platform interoperability - especially for documentation written in [asciidoc(tor)](http://asci

[2017-02-22 21:48] mstefaniuk commented on #53
Interactive online editor and fiddle for Graphviz available on http://graphviz.it. Also separate rendering component is available on https://github.com/mstefaniuk/graph-viz-d3-js

[2017-02-23 13:18] WirelessWizard commented on #53
Here at ETH Zurich, we are working on a Visual Studio Code extension for a sound deductive verification tool Viper (viper.ethz.ch). The extension could be found here: https://marketplace.visualstudio.com/items?itemName=rukaelin.viper-advanced

We use Graphviz within the verification debugger of the symbolic execution engine for visualizing the heap structures as they are learned by the verifier. W

[2017-03-15 09:22] ylemoigne commented on #50
Hum same here.... I also tried
`label=<<TABLE><TR><TD><IMG SRC="data:image/png:base64,XXXXXXXX"/></TD></TR></TABLE>>`

Expecting to bypass the loader problem, but no more luck.

[2017-03-16 18:27] mdaines commented on #50
This appears be possible to do using [Emscripten's `FS.createLazyFile` function](https://kripken.github.io/emscripten-site/docs/api_reference/Filesystem-API.html#FS.createLazyFile).

[2017-03-20 14:31] mdaines commented on #50
Here is my first pass at attempting to address this using the Emscripten file system API: 7c7f72f0e6120e2f36ac09475d9043f0f42bed06

It adds an "images" option used to specify dimensions for whatever images you want to refer to in the graph. It works by creating dummy images (empty SVG images with just a width and height) in Emscripten's file system that Graphviz will use to determine width and hei

[2017-03-24 19:10] commaster90 opened #78 "Uncaught Assertion failed"
This issue happens in version 1.6.0 and above. When trying to render my graph, Chrome shows the following error.

Uncaught Assertion failed: !TREE_EDGE(e), at: ns.c,463,merge_trees at Error
    at Ga (http://localhost:8000/static/js/viz.js:48:124)
    at Fa (http://localhost:8000/static/js/viz.js:48:22)
    at ___assert_fail (http://localhost:8000/static/js/viz.js:1141:116)
    at Array.JR (http:/

[2017-03-24 19:24] commaster90 commented on #78
This is the dot file causing the issue. Could it be the syntax is incompatible with the newer version of Graphviz?

[code]

[2017-03-25 09:20] guoguogis commented on #57
set default value of TOTAL_MEMORY ,like this:
ma=e.TOTAL_MEMORY||537395200

[2017-03-27 18:34] mdaines commented on #78
Since this doesn't work with the regular "dot" program either (2.40.1), my guess would be that the syntax is the problem.

[2017-03-27 18:34] #78 closed

[2017-03-27 20:05] mdaines commented on #57
Viz.js now supports the `totalMemory` option:

[code]

[2017-03-29 09:51] Chaz6 opened #79 "Add support for lhead/ltail"
In order to connect subgraphs, it is necessary to use lhead and/or ltail as in the following example:-

[code]

[2017-03-29 18:00] mdaines commented on #79
Viz.js should support these attributes. The output of the regular `dot` program on the command-line is identical to Viz.js for this example as far as I can tell.

According to the documentation, if you want to use the `lhead` and `ltail` attributes you need to set the graph's `compound` attribute to `true`. http://www.graphviz.org/content/attrs#dlhead

[2017-03-29 18:00] #79 closed

[2017-04-01 08:13] jorgenhojdmo opened #80 "viz-lite.js utf-8 conversion fails"
When using viz.js characters like åäö is working properly. In viz-lite.js the following error is generated:

Uncaught TypeError: e.UTF8ToString is not a function
    at Object.A [as Pointer_stringify] (viz-lite.js:35)

[2017-04-06 06:35] magjac opened #81 "Text overflow"
The text overflows the bound box.

![screenshot from 2017-04-06 08 30 35](https://cloud.githubusercontent.com/assets/6350376/24740819/5974fc52-1aa3-11e7-8b9b-64b6460dc122.png)

[code]
If the fontname attribute is removed, the overflow does not occur.

The problem occurs for:
Mozilla Firefox 48.0 on Ubuntu 14.04.5 LTS
Google Chrome Version 57.0.2987.110 (64-bit) on Ubuntu 14.04.5 LTS
Firefox 52.0.1

[2017-04-06 12:16] mdaines opened #82 "Document which font names are safe to use"
See #81. Viz.js doesn't include fontconfig or have access to any system fonts, so Graphviz must fall back on its own metrics to estimate text span sizes. If other names are used, it may not measure text correctly.

See also:

https://github.com/ellson/graphviz/blob/master/lib/common/textspan.c
https://github.com/ellson/graphviz/blob/master/doc/fontfaq.txt

[2017-04-06 12:17] mdaines commented on #81
My guess is that since Viz.js doesn't have access to the Liberation Sans font to measure the text, Graphviz is falling back on its own font metrics, but is including the name of the font in the generated SVG anyway. Then, since you do have that font on your system, your browser is using it when rendering the SVG.

[2017-04-06 12:34] magjac commented on #81
Thanks. Can I give Viz.js access to the font somehow?

[2017-04-06 13:47] mdaines commented on #81
Not at this time. It might be possible, but it would probably require Graphviz being able to access the font files at least. I am looking at adding more access to the Emscripten file system.

Another approach might be to measure the size of the box yourself before passing it to Viz.js, but I don't know if that would actually work in this situation.

[2017-04-06 13:47] #81 closed

[2017-04-06 14:05] magjac commented on #82
Is there some way for me to find out this info myself? Trial and error gave Courier as a working font, but me no like.

[2017-04-07 10:14] mstefaniuk commented on #82
[In this document](http://www.graphviz.org/doc/fontfaq.txt) you can find names of fonts supported by Graphviz natively.

[2017-04-07 11:29] mdaines commented on #82
I believe it is Times, Arial, Helvetica, and Courier.

[2017-04-07 13:53] magjac commented on #82
I went for Helvetica and it's ok for now at least.

[2017-04-07 15:56] magjac commented on #82
Strange. I got Marcins comment by email, but I don't see it on github.

On 2017-04-07 12:14, Marcin Stefaniuk wrote:

[2017-04-11 00:31] mdaines commented on #80
@jorgenhojdmo I can't seem to reproduce this problem. Can you paste the graph you're seeing the error with?

[2017-04-11 07:18] jorgenhojdmo commented on #80
[code]
The conversion executed from the following html file saved in UTF-8 format hosted by a Node server running on OS X El Capitan and works fine with viz.js and fails with viz-lite.js

[code]

[2017-04-11 16:14] mstefaniuk commented on #82
@magjac I wrote this but just after that I had noticed that this link is already in first comment...

[2017-04-13 09:06] li-yinan opened #83 "webpack compile fail, require('fs'), module not found"
viz does check running environment. when running in node envrionment viz `require('fs')`.
I use viz in browser, but the `require('fs')` is still there, webpack can't find fs module and compile fail
How can I use viz with webpack?

[2017-04-13 12:29] mdaines commented on #83
I was looking at this recently and found two possible solutions:

1) Ask webpack to replace "fs", etc. with empty objects.

[code]

2) Use script-loader:

[code]

[2017-04-16 16:35] mdaines commented on #83
The next release will include a "browser" property in package.json that appears to address this problem.

[2017-04-16 16:35] #83 closed

[2017-04-21 12:22] philwig commented on #53
To display workflows in health care to clinical people, showing how many patients are in each stage of a formally defined workflow process.

[2017-04-22 15:53] colorpump opened #84 "support click event handler for nodes and edges"
I would like to have the possiblility of adding click event handlers to nodes and edges.

It could look like
[code]

Is there a way to do that? Or could it be implemented?

[2017-04-23 20:21] pfalcon opened #85 "Render a .dot from a URL?"
This must be a FAQ, yet nothing in README, no example in the repo. I have a file somewhere on the net, e.g. https://pfalcon.github.io/xtensa-subjects/2.0.0-p20160809/callgraph.dot . All I want is a link I can give users to be able to browse that .dot, even if the link has to be on the same domain, like https://pfalcon.github.io/viz.js.foo?dot=/xtensa-subjects/2.0.0-p20160809/callgraph.dot

[2017-04-23 21:41] pfalcon commented on #85
https://pfalcon.github.io/viz.js/dotview.html?https://raw.githubusercontent.com/pfalcon/xtensa-subjects/master/2.0.0-p20160809/callgraph.dot

[2017-04-23 21:43] pfalcon commented on #85
https://github.com/mdaines/viz.js/pull/86

[2017-04-23 21:47] pfalcon commented on #85
Permanent location of the viewer: https://pfalcon.github.io/wdot/v.html

[2017-04-24 16:47] rgugliel commented on #53
A component in the webclient to my program [CoxIter](https://github.com/rgugliel/CoxIter).
The user inputs a small graph and can preview the result: https://coxiter.rafaelguglielmetti.ch/

[2017-05-03 07:16] helios2905 opened #87 "Dot engine doesn't work for complex graph"
Dot parsing doesn't work for complex graph. Tested using attached dot definition below in http://viz-js.com/

[graphDefinition.txt](https://github.com/mdaines/viz.js/files/972634/graphDefinition.txt)

[2017-05-03 12:21] mcdemarco commented on #53
I use it for visualizing gamebooks written in Twine: http://www.mcdemarco.net/tools/scree/dotgraph/

[2017-05-05 03:05] helios2905 commented on #87
This seems to work for version 1.5.1 but starts breaking from version 1.6.0 onwards.

[2017-05-07 17:33] mdaines commented on #84
Viz.js doesn't support this directly, but you can add "id" attributes to elements in the SVG output by using the "id" attribute:

[code]

After inserting the SVG into the document, you could set up an event handler by querying for the id you set.

[2017-05-07 17:33] #84 closed

[2017-05-07 17:40] mdaines commented on #85
Thank you for the request and PR. At this time I feel that the examples showing rendering from a literal string are sufficient, but I will consider including something like this in the documentation in the future.

[2017-05-07 17:40] #85 closed

[2017-05-07 17:45] mdaines commented on #87
This graph fails with the same error for me in the regular Graphviz program (dot version 2.40.1) so you may want to report this to the [graphviz project](https://github.com/ellson/graphviz). I did notice that removing the `splines=ortho;` attribute allows the graph to render without error.

[2017-05-07 17:45] #87 closed

[2017-05-11 07:40] danielwertheim opened #88 "lite version in NPM package"
Is it possible to get the lite version distributed in the npm package as well?

[2017-05-15 14:53] lostplan commented on #75
`eval` is pretty bad; modern sites with a content security policy will block its use anyway.

And now this problem is now spreading through your dependents (I found this issue after having trouble with graphql-voyager).

I would suggest providing an eval-free version by default, with a smaller version available for those with special requirements.

[2017-05-20 13:33] #88 closed

[2017-05-20 13:34] #75 closed

[2017-05-25 16:42] aragozin opened #89 ""Cannot enlarge memory arrays" error processing large graph"
I've got following error message trying process large graph. I suppose it is referring to Emscripten compile options.

`Uncaught abort("Cannot enlarge memory arrays. Either (1) compile with -s TOTAL_MEMORY=X with X higher than the current value 16777216, (2) compile with -s ALLOW_MEMORY_GROWTH=1 which adjusts the size at runtime but prevents some optimizations, (3) set Module.TOTAL_MEMORY to a hig

[2017-05-27 20:45] fiatjaf opened #90 "Is there a WebAssembly version?"
I'm not aware of the specifics of viz.js, but it seems that Emscripten allows compiling to WebAssembly just by passing the `-s WASM=1` flag to `emcc`.

Is that something doable with this library?

[2017-05-28 20:09] mdaines commented on #89
When processing a large graph, you can try using the `totalMemory` option. For example:

[code]

[2017-05-28 20:09] #89 closed

[2017-06-03 06:02] xraywu commented on #50
Hi @mdaines, thanks for the new release. Image feature seems to be working as expected. One question - how to control the position of the image? Tried `imagepos` attr as well as putting the image in label but none of them worked.

[2017-06-07 01:11] mdaines commented on #50
I don't know if there are too many options for image placement. It looks like `imagepos` is a new attribute? From what I can tell it was added after Graphviz 2.40.1. See https://github.com/ellson/graphviz/commit/c61ed7137fbffe529b8b30cad3e4feec2e77ae60.

[2017-06-26 10:11] philn commented on #53
GStreamer pipeline visualisation!
<img width="1359" alt="pipeline-dump" src="https://user-images.githubusercontent.com/34114/27534822-279ca188-5a60-11e7-807a-b529972c0f2d.png">

https://github.com/philn/Radioplayer/commit/b3673d531d2a15ba79d91dc567cb749b7dd0e80e

[2017-07-07 08:53] LBierkandt commented on #72
Sorry for not having given you feedback on this one... I haven’t encountered any more problems now, so I think this issue can be closed.

[2017-07-07 08:56] LBierkandt commented on #53
A tool for graph-based linguistic annotations: [GraphAnno](https://github.com/lbierkandt/graph-anno).

[2017-07-08 22:29] thari opened #93 "requesting continuous integration badge for the confidence use of Viz.js"
Can you please use any of the free cloud-based continuous integration with Viz.js?
Including the badge will let us know the test cases that work with your build version.

Both Emscripten and Graphviz are evolving and I have seen when tools get updated they tend to break some test cases after transpiling using Emscripten.

[2017-07-12 14:11] robbertmichel commented on #53
I use it with automatically generated documentation of the datawarehouse. The SVG creates a click-through map of the flowchart.
![knipsel](https://user-images.githubusercontent.com/8848520/28121783-7336ec3e-671c-11e7-8b25-83e3ea0e3e13.PNG)

[2017-08-16 10:39] magjac commented on #53
I'm using it in the [d3-graphviz](https://github.com/magjac/d3-graphviz) plugin which adds:

* Animated transition of one graph into another
* Edge path tweening
* Node shape tweening
* Fade-in and fade-out of entering and exiting nodes and edges
* Panning & zooming of the generated graph

See this small [demo](http://bl.ocks.org/magjac/4acffdb3afbc4f71b448a210b5060bca).

[2017-08-16 12:54] jebberjeb commented on #53
I'm using it in [fsmviz](https://github.com/jebberjeb/fsmviz) Which lets you generate graphs for FSM data in Clojure, Clojurescript (and there's also a Javascript API).

[2017-08-17 12:02] alkaphreak opened #94 "Up to date webjars."
Make up to date webjars : https://mvnrepository.com/artifact/org.webjars/viz.js

And jsdeliver : https://www.jsdelivr.com/?query=viz.js

Please :)

[2017-08-17 12:31] MartinKolarik commented on #94
@jsdelivrbot npm viz.js

[2017-10-10 15:09] larrysmith79601 opened #95 "Headers inconsistent in release 1.8.0"
The headers in viz.js and viz-lite.js (release 1.8.0) both show version 1.7.1.

I know, picky.

Thanks

[2017-10-26 18:21] coli opened #96 "Invalid asm.js: Function definition doesn't match use"
You can see the warning in console for http://viz-js.com/

I'm using Chrome 62 on Mac.

[2017-11-02 20:40] igoryonya opened #97 "Block sizes are smaller, than it's text content. An example code below. I've tested it on viz-js.com"
digraph G {
    fontname = "Bitstream Vera Sans"
        fontsize = 8
        node [
            fontname = "Bitstream Vera Sans"
            fontsize = 8
            shape = "record"
        ]
        edge [
            fontname = "Bitstream Vera Sans"
            fontsize = 8
        ]
        Animal [
            label = "{Animal|+ name : string\l+ age : int\l|+ die() : void\l}"
        ]
}

[2017-11-03 07:39] magjac commented on #97
Due to https://github.com/mdaines/viz.js/issues/82?

[2017-11-03 07:40] magjac commented on #97
Duplicate of https://github.com/mdaines/viz.js/issues/81?

[2017-11-28 17:01] sinopalnikov opened #98 "Assertion fails if rank=sink is used for a subgraph"
The following example fails to get rendered on [viz-js.com](url):
`digraph test { A; B; { rank=sink; A } }`

I see the following error in the JS console:
`Assertion failed: !TREE_EDGE(e), at: ns.c,463,merge_trees at Error`

This is the stack trace:
[code]

The error is not reproducible if I change rank to 'min' or 'max', but it still fails with rank=source.
It does not fail if I remove node B.

I

[2017-12-05 09:11] electronicsguy commented on #29
This problem still persists in Graphviz V2.38.0  on Windows.

[2017-12-08 13:33] mdaines commented on #98
This appears to be a problem with Graphviz itself, or at least with version 2.40.1. I believe Webgraphviz uses an older version. When asking the `dot` command-line tool to render this graph, I get a segmentation fault. You may want to create a new issue on the [Graphviz issue tracker](https://gitlab.com/graphviz/graphviz/issues).

[2017-12-08 13:33] #98 closed

[2017-12-08 14:21] sinopalnikov commented on #98
Thank you for the update!
Indeed `dot` crashes on this graph in version 2.40.1.
I also checked the latest dev snapshot, graphviz-2.41.20171026.1811, and it works fine.
So it seems the bug was fixed in Graphviz.
Do you have any plans to release a new version of viz.js based on Graphviz 2.41.x?
Thanks!

[2017-12-13 13:14] mdaines commented on #98
Yes, I plan to update Viz.js for the next release version of Graphviz.

[2017-12-19 18:41] joeltine commented on #98
@mdaines any idea when the new release will happen?

[2017-12-19 20:06] mdaines commented on #98
@joeltine I don't know. I do follow Graphviz development, but if I miss the next stable release, feel free to open an issue here.

[2017-12-30 12:47] jho1965us opened #99 "Show version numbers on vis-js.com page"
version numbers for Graphviz, Emscripten and vis.js

motivation; some graphviz questions on stackoverflow relate to things working/not-working on vis-js.com vs on windows due to different graphviz versions

[2018-01-08 18:53] MbProg opened #101 "Chaning the bolor color of a shape"
I have the simple following DOT script:
[code]
I just want to change the border color of `b1`, but I couldn't find out how to do that. How can I change the border color of `b1`?

[2018-01-08 19:38] mattboehm commented on #101
You'd be better off asking this in a graphviz forum/mailing list or on stackoverflow, but anyway:

Before `b0 -> b1;` have a line that says `b1[color=red];` This defines the node and sets attributes specific to it.

[2018-01-09 09:39] MbProg commented on #101
This doesn't change the **border color** but the area of the shape. But I got it, you have to use it in combination with `fillcolor`:
`[color=red, fillcolor=grey]`

[2018-01-09 09:39] #101 closed

[2018-01-25 17:48] tdhsmith commented on #81
As opposed to fixing fontconfig / filesystem stuff, the browser could certainly determine the glyph and text widths using a `<canvas>` and [`CanvasRenderingContext2D.measureText()`](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/measureText). Does this library do anything to patch/shim Graphviz for special web features, or would that be new ground? (I don't have much exp

[2018-01-26 03:02] nikeee commented on #90
I am also interested in this, since it should provide a better performance.

[2018-01-26 13:09] mdaines commented on #81
@tdhsmith That would be new ground for Viz.js, since for the most part I've tried to not reach too far inside Graphviz -- the idea is that using the interface it expects will lead to fewer surprises down the line. However, if you do explore that approach, a pull request is welcome!

I mentioned this briefly above, and maybe it's something you'd be willing to try. (I haven't, so I don't know how we

[2018-01-26 17:04] tdhsmith commented on #81
@mdaines Yeah I totally agree with the arguments; you don't want to destabilize anything or ruin your ability to pull in upstream content.

I'll bet determining measurements would work fine (in fact for our use case with HTML-like labels, I don't even need to take the label out because the child `<table>` still autosizes correctly), but I think we're fine just having switched out monospace font to

[2018-01-30 20:25] mdaines commented on #82
Added note to README in ed49525397aa990544c86cfdc0c7ef1ecee700a1.

[2018-01-30 20:25] #82 closed

[2018-01-30 20:26] #97 closed

[2018-01-30 20:28] mdaines commented on #80
I can't seem to reproduce this error using the example graph you've given. Please feel free to re-open this issue if this is still a problem.

[2018-01-30 20:28] #80 closed

[2018-01-30 20:34] mdaines commented on #94
@alkaphreak I didn't create the webjar for Viz.js. I distribute the library via Bower, npm, and GitHub.

I'm not sure I understand what you mean about jsdeliver?

[2018-01-30 20:34] #94 closed

[2018-01-30 20:36] #72 closed

[2018-01-30 20:47] mdaines commented on #95
Thanks for catching that. I've fixed the GitHub releases, and I'll fix the npm and Bower releases in 1.8.1. I've also added a check for this in my release scripts.

[2018-01-30 20:47] #95 closed

[2018-01-30 20:48] mdaines commented on #99
@jho1965us Version numbers for Viz.js, Emscripten, Graphviz, and Expat can be found at the top of the viz.js file.

[2018-01-30 20:48] #99 closed

[2018-01-31 16:19] #50 closed

[2018-02-09 18:16] broofa commented on #90
ping (@mdaines)?

[2018-02-09 20:50] mdaines commented on #90
@broofa I plan to look at this in the next few days.

[2018-02-10 18:56] patrickpilch commented on #56
I was curious as to what was causing the overflow and it seems to be depth-first search graph algorithms in GraphViz like [inter_tree_edge_search](https://gitlab.com/graphviz/graphviz/blob/fc079e5bc5cb73e93d3f0326e5bae5822f210044/lib/common/ns.c#L342-373) and [dfs_range](https://gitlab.com/graphviz/graphviz/blob/fc079e5bc5cb73e93d3f0326e5bae5822f210044/lib/common/ns.c#L956-972).
<img width="922" a

[2018-02-12 17:02] anthony-cros opened #102 "Feature request: ability to pass URL containing the DOT code"
Example:

`http://viz-js.com&url=https://gist.githubusercontent.com/john-doe/83f930bbafc788b32871a20abf8f885a/raw/2c8c229c91176b886df19fd647e85b429b813d63/my.dot`

I was positively surprised to find something similar working for the [Swagger Editor](http://editor.swagger.io): `http://editor.swagger.io/?url=<path-to-yaml-file>`. It was pretty neat for collaboration as I could just send the URL arou

[2018-02-12 21:53] JakeSummers opened #103 "Add CLI support so this can be run without a wrapper script"
Good Evening!

I am currently using this tool as part of my build pipeline to generate documentation for my project.

Currently I need to use a wrapper script to get this running.  I invoke the wrapper script like this: `cat myDotFile.dot | node myWrapper.js > out.svg`.

This is what the wrapper script looks like:

[code]

Would it be possible to make this directly invokable so that I could do som

[2018-02-12 21:57] JakeSummers opened #104 "How to override graph attributes?"
When I  run dot using the [Graphviz package](https://www.graphviz.org/download/), I can do the following:

[code]

Is there a way that I can override graph attributes using this package?  I would prefer to avoid having to edit the files.

Thanks!

[2018-02-13 00:45] mdaines commented on #104
Currently no. This was originally to avoid having to pass a JavaScript array or object to a compiled C function, but it should be possible to do this using Emscripten's APIs for interacting with C code.

[2018-02-13 00:46] mdaines commented on #103
@JakeSummers Why do you want to use Viz.js and not the "real" `dot` program?

[2018-02-19 15:18] JakeSummers commented on #103
Hi @mdaines ,

I want build dot diagrams as part of my build process but my build process needs to be OS independent.  Using this NPM package to build the dot files achieves that.

[2018-02-19 16:04] mdaines commented on #103
Fair enough. However, I don't want to include a wrapper script in this project. You are of course free to publish your wrapper script as a separate NPM package that depends on Viz.js.

[2018-02-19 16:04] #103 closed

[2018-02-19 18:33] JakeSummers commented on #103
Thanks for the consideration.

[2018-02-20 20:57] mdaines commented on #90
Emscripten can produce a WebAssembly binary for Viz.js using just the `-s WASM=1` flag, but this doesn't fit with the way the main `Viz()` function is called currently, since the binary needs to be loaded asynchronously. The API could be changed to return a promise rather than a string, however.

While investigating this I built the "lite" version as WASM. The total size (binary + Emscripten loadi

[2018-02-21 13:44] broofa commented on #90
I'm fine with an async API.  That's very clearly the future (and present) of JS.

That is a nice space savings.  Any idea if there's a perf improvement with that as well?

[2018-02-21 17:09] fiatjaf commented on #90
Normally there so many perf improvements between asm.js and WASM versions it's almost unbelievable.

[2018-02-25 00:12] mdaines commented on #93
Addressed in 1b2d0ba32e163941fdd70302dea9f60e016f21b6 and 379e63d5e255762d5d1b3dfd787e057ac594f5f8

[2018-02-25 00:12] #93 closed

[2018-03-07 07:00] Jiangshan00001 opened #109 "is it possible to add a link to some nodes?"
i would like to add a link to some node, if user click the node, will open the link.
is that possible?
howtodo?

[2018-03-07 07:15] magjac commented on #109
Use the Graphviz [URL](https://www.graphviz.org/doc/info/attrs.html#d:URL) attribute on the node.

[2018-03-07 12:57] mdaines commented on #109
Quick example:

[code]

[2018-03-07 12:57] #109 closed

[2018-03-08 03:13] jackruss78 opened #111 "won't work in viz.js but will in http://www.webgraphviz.com/"
Doesn't really make sense but given the snippet below will work in webgraphviz but not in viz.js

webgraphviz looks to be using viz.js too, so I'm trying to figure out why

What causes the error seems to be the last 3 lines
[code]

 delete it and it works in both, keep it in and it only works in webgraphviz

[code]

[2018-03-08 13:26] mdaines commented on #111
I believe webgraphviz uses a different version of both Graphviz and Viz.js, so it may handle errors differently. This produces a graph in `dot`, but it also prints the following:

[code]

I think if there is output available, Viz.js should show it. But it would also be nice to display warnings like this.

[2018-03-08 14:37] #111 closed

[2018-03-08 14:38] jackruss78 commented on #111
p.s. thanks

[2018-03-09 04:45] mattboehm commented on #53
I'm using it for [dottask](http://dottask.mattboehm.rocks), a browser-based digraph editor that lets you use a mouse/keyboard on the graph itself rather than modifying graphviz files.

![2018-03-06 10 49 21](https://user-images.githubusercontent.com/1254555/37190919-a5afd804-232a-11e8-9c99-dae8bf6e5cc5.gif)

[2018-03-15 23:44] amilajack opened #112 "Question: Why isn't viz-lite packaged with npm?"

[2018-03-15 23:57] mdaines commented on #112
It should be, however the README doesn't explicitly state that it is, so I'll change that. Are you running into a problem requiring or bundling it?

It's in the files list in package.json: https://github.com/mdaines/viz.js/blob/590d73e3bda0955810a18f912a603f92ab58523c/package.json#L16

This is how you'd require it from Node.js:

[code]

For example:

[code]

[2018-03-16 00:02] amilajack commented on #112
Ahh never mind. I'm using `graphql-voyager` which uses this package as a dep. That version that is used does not include the lite version.

[2018-03-16 00:02] #112 closed

[2018-03-16 01:03] amilajack commented on #90
@mdaines were you able to get this working? I'm really excited for this

[2018-03-16 12:05] mdaines commented on #90
@amilajack I was able to get it to work, but the API for Viz.js needs to change to support asynchronous loading and indicating the location of the binary. Maybe something like this:

[code]

I'm planning to change the Viz.js API so that it returns promises and supports web workers more directly, and this would fit with that. I'll post an issue detailing those changes soon.

[2018-03-16 13:06] magjac commented on #90
I don't know WebAssembly so I don't know if this is useful to you, but here's how I solved asynchronous loading and indicating the location of viz.js in [d3-graphviz](https://github.com/magjac/d3-graphviz/blob/master/src/graphviz.js)

[code]
Details:
https://github.com/magjac/d3-graphviz/blob/master/src/graphviz.js#L26
https://github.com/magjac/d3-graphviz/blob/master/src/dot.js#L10

[2018-03-16 14:14] mdaines opened #113 "Proposed API changes: Promises, Web Workers, WebAssembly"
Hi everyone. I'm considering some API changes for future Viz.js versions and I wanted to get your feedback.

The goals of these changes are:

- Viz.js should support Web Workers out of the box.
- Viz.js should support WebAssembly with a similar API.
- Return values should be more useful and their types clearer.
- It should be easier to render a graph from data.
- It should be easier to work with V

[2018-03-16 15:13] broofa commented on #113
'Not sure if this is in-scope here, but every time I've used this library I find myself rendering the graph as SVG, then doing a lot of DOM/CSS work to work with the graph dynamically.  E.g. handle a click on a node, highlight connected nodes, etc.

I.e. a high(er)-level API for working with an existing [svg] graph would be helpful.  That said, I recognize that this might make more sense as an add

[2018-03-16 15:38] mdaines commented on #113
@broofa What about using D3 to work with the SVG?

[2018-03-16 16:18] magjac commented on #113
@broofa @mdaines [d3-graphviz](https://github.com/magjac/d3-graphviz) already utilizes viz.js and D3 to animate changes between one graph and another and I'm currently working on an API for modifying the graph that utilizes that animation (@broofa's bonus point) and an example application (that later might turn into a new D3 plugin) to show how to use it interactively. Enhancement request with det

[2018-03-16 17:02] broofa commented on #113
My only issue with something like d3-graphviz is the D3 dependency.  It's not small, and there's a lot of stuff in there that's orthogonal to this particular problem.  (I mean, I get it, d3 does some nice heavy lifting for DOM-manipulation, but it's not exactly a micro-framework.)

[2018-03-16 17:55] magjac commented on #113
Since v4, D3 core is modular and d3-graphviz used just a few of Themsen. The size is almost neglectable compared to viz.js

[2018-03-16 18:18] broofa commented on #113
@magjac  Ah, I see.  Nice!  Looks like minified+gzipped d3-graphviz is what, like 7-8K?  Yeah, that's trivial.

For anyone following along, a visualization of [how d3-graphviz depends on a small subset of d3 core](http://npm.broofa.com/?q=d3,%20d3-graphviz).

[2018-03-16 19:13] magjac commented on #113
@broofa I've opened https://github.com/magjac/d3-graphviz/issues/40. Let's continue the discussion there and not pollute this thread. BTW, your visualization gives me `````
😖 NPMGraph is not happy.
Module failed to load. Please make sure you have <code>dom.moduleScripts.enabled = true</code> in <a href="https://support.mozilla.org/en-US/kb/about-config-editor-firefox#w_opening-aboutconfig" target=

[2018-03-17 12:13] maccesch commented on #53
I'm using it for a custom layout in cytoscape because the build in layouts just aren't as nice.

[2018-03-17 12:27] maccesch opened #115 "The new TypeScript declaration breaks my build"
I used to use Viz.js 1.8.0 like this:
[code]
which worked just fine and is in tune like I use every other lib in this large sized project. But now I can't do that anymore.

It is especially important for me to use it that way because I actually only need it during development. So together with other dev-only code, I can simply include it in

[code]

together with the ifdef-loader (webpack) to stri

[2018-03-17 14:40] mdaines commented on #115
@maccesch, can you provide more context for this issue? I assume you are using webpack? How does your build break? What error are you seeing?

[2018-03-17 14:55] mdaines commented on #113
@broofa I'd certainly like to hear any ideas you have for making Viz.js work better with D3 in this discussion, since that would probably affect the API.

[2018-03-17 23:16] amilajack opened #116 "Question: How to compile library to webassembly"
I'm trying to mess around with this project and i'm wondering how I can enable wasm builds. I made the following changes:
https://github.com/amilajack/viz.js/commit/72d7ec65ceed32c40a88642cd5ae8f50f2cc971c#diff-b67911656ef5d18c4ae36cb6741b7965R40
https://github.com/amilajack/viz.js/commit/72d7ec65ceed32c40a88642cd5ae8f50f2cc971c#diff-b67911656ef5d18c4ae36cb6741b7965R32

And I'm running the builds

[2018-03-17 23:18] maccesch commented on #115
@mdaines Thanks for the fast reply.

Yes, I'm using Webpack.
When I use the latest version it tells me at build time:

[code]

My tsconfig.json:

[code]

[2018-03-18 03:46] mdaines opened #117 "Ensure lite version is tested with Internet Explorer"
Currently only the full version is tested, in the `fabric.html` test.

[2018-03-18 03:54] mdaines commented on #116
Simply adding `-s WASM=1` worked for me. However, I'm using Emscripten 1.37.36.

[2018-03-18 04:18] mdaines commented on #115
The TypeScript declaration file for v1.8.1 says that `Viz` is a global. I believe you can write just this for the import instead and the declarations will still work:

[code]

However, Viz.js does check for module.exports and use it if possible, so I will add that to the declaration.

[2018-03-18 04:26] mdaines commented on #115
Hm, according to [this declaration template](http://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-function-d-ts.html) you'll need to change your import either way?

[code]

[2018-03-18 09:50] maccesch commented on #115
It works indeed with just

[code]

Thanks!

[2018-03-18 09:50] #115 closed

[2018-03-18 19:59] magjac commented on #113
@mdaines Absolutely. I just didn't want to hijack this thread for something it wasn't meant for (The possibility to build an API for modifying an existing graph and animating the changes as @broofa suggested [above](https://github.com/mdaines/viz.js/issues/113#issuecomment-373744200) into d3-graphviz).

I'm quite a newbie in the Javascript world so I probably won't be able to contribute so much kn

[2018-03-19 08:31] nidi3 opened #118 "Support -y (Invert y coordinate in output) option"
This is a great project!
I'm using it to bring graphviz to java and I have an [issue](https://github.com/nidi3/graphviz-java/issues/47) there supporting the -y option.
Is is possible to add this option?

[2018-03-19 14:06] mdaines commented on #118
Yes. I'm going to work on adding this and #104 for the next minor update.

[2018-03-19 15:36] mdaines commented on #117
Addressed in 05c49878b940dc1517c1109a3871aba26b55a7d4.

[2018-03-19 15:36] #117 closed

[2018-03-22 15:57] AndrewJamesTurner opened #119 "sfdp layout algorithm"
Thanks very much for the great library!

Do you know if there are any plans to support the sfdp layout algorithm? Under Ubuntu this required recompiling graphiz with extra flag '--with-gts'.

Many thanks

[2018-03-23 13:24] mdaines commented on #119
Maybe. But including GTS is likely to increase the size of the build, which I would like to avoid.

[2018-03-23 17:33] #118 closed

[2018-03-25 07:02] amilajack commented on #116
Oh okay. Hmm. Can you please create a small example demonstrating this. Maybe I'm missing something. Could you push a branch out that shows the correct build config for wasm? I'm not experienced in makefiles or c/c++ build tools this this would really help me out. Thanks!

[2018-03-25 19:37] nidi3 opened #120 "Performance degradation"
Not really a bug, but performance got measurable worse with versions 1.5.0 and 1.8.1:

test | viz 1.0.0 |  viz 1.5.0  | viz 1.8.1 |
-- | -- | -- | -- |
simple  | 3.7 | 22.9 | 51.7
attributes  | 4.8 | 26.3 | 54.2
polygons | 1.9 | 14.7 | 39.4
records | 1.7 | 22.8 | 40.2
big| 47.9 | 216.6 | 206
loc | 3.4 | 20 | 45.3
cluster | 5.9| 31.2 | 53.3

Do you have any idea what could be the cause of this?

[2018-03-25 23:02] magjac commented on #120
@nidi3 I'm interested to see if [d3-graphviz](https://github.com/magjac/d3-graphviz) add a measurable performance penalty to viz.js. Would it be possible for you to share your benchmark code?

[2018-03-25 23:13] nidi3 commented on #120
öm, d3-graphviz has nothing to do with it.
Here's the link to my performance test: https://github.com/nidi3/graphviz-java/blob/master/src/test/java/guru/nidi/graphviz/PerformanceTest.java

[2018-03-25 23:17] magjac commented on #120
@nidi3 I know. I just wanted to use the same benchmarks. Thanks.

[2018-03-25 23:24] nidi3 commented on #120
Ah, I see. Would be interesting to see if you can confirm/reject my measurements.

[2018-03-26 02:28] mdaines commented on #120
Since [v1.5.0](https://github.com/mdaines/viz.js/releases/tag/v1.5.0), a new Emscripten module instance is created for every call to `Viz()`. I assume this would be the cause of worse average performance over several runs. One reason for doing this was that certain errors could leave the module in a state where it wouldn’t be able to render further graphs. Perhaps it’s time to revisit the fix.

[2018-03-26 05:29] nidi3 commented on #120
Thanks for the answer. As I said, it's not a problem for me, but any speed improvement will surely be appreciated.
Interestingly, it seams that J2V8 and graphviz-java are also getting slower in newer versions, I guess for the same reasons (trading correctness/stability for speed).

[2018-03-26 12:51] mdaines commented on #116
My mistake. This only works for the lite version right now. I'm seeing a similar error for the full version.

I've pushed a branch with the WASM setting enabled: https://github.com/mdaines/viz.js/compare/wasm

To get the Wasm binary:

    make graphviz-lite build-lite/module.js

This will produce `build-lite/module.js` and `build-lite/module.wasm`.

[2018-03-26 12:53] mdaines opened #121 "Add performance tests"
See #120.

[2018-03-26 13:49] mdaines commented on #116
@amilajack I just pushed a change to both the master and wasm branches. Both targets should work now.

    make graphviz-lite build-lite/module.js
    make graphviz build/module.js

[2018-03-30 14:03] nidi3 commented on #53
To provide graphviz functionality to the JVM/Java world in a platform independent way with https://github.com/nidi3/graphviz-java

[2018-03-30 15:58] BertRaeymaekers commented on #53
Not using it yet, but wanting to use it do display budgerigar pedigrees on a site.

[2018-03-30 17:07] thari commented on #120
We should also include the wasm builds in the performance comparisons.

[2018-03-31 00:54] kuzi-moto commented on #53
Currently using it to plan out user roles for active directory. In the future using it to map out processes and anything else I can come up with.

[2018-04-01 17:51] magjac commented on #113
@broofa I've added a [draw API](https://github.com/magjac/d3-graphviz#modifying-an-existing-graph-and-animating-the-changes) to d3-graphviz that allows you to modify an existing graph and animate the changes.

Check out the [D3 Graphviz GUI editor](http://bl.ocks.org/magjac/raw/b2bf6da945e725a605e0d077781457b2/) proof-of-concept made with it.

[2018-04-04 00:55] thari commented on #113
Super excited about the proposed features especially webworker and webassembly. In fact, I am in an urgent need of a webworker supported version. If you can commit your progress, I can be your early adopter/tester.

BTW: Will you be interested in adding a scalajs facade to this repo? I can provide you one.

[2018-04-04 04:40] magjac commented on #113
@mdaines Would it be possible to expose other parts of Graphviz through Viz.js? I'm not yet sure exactly which function I would need, but perhaps [shape_desc *bind_shape(char *name, node_t * np)](https://gitlab.com/graphviz/graphviz/blob/master/lib/common/shapes.c#L3837).

[2018-04-04 12:06] mdaines commented on #113
@thari The gh-pages branch of this repository uses Web Workers, but doesn't define a reusable API or anything like that. The solution is just "have a web worker that replies to messages with the result of calling Viz()". I'm working on an update to that branch that implements some of the ideas here, including using workers and returning promises.

A scalajs facade is welcome; just open a pull requ

[2018-04-04 12:15] mdaines commented on #113
@magjac I think it would be possible. I have thought about that, but I'm not sure I want to do it with this library, since I like the idea that it's more like the Graphviz command-line. But I can imagine a different, lower-level library that would do that.

I haven't really worked with custom shapes -- is it possible to use the DOT `shapefile` attribute and the Viz.js `files` option for what you'r

[2018-04-04 20:14] magjac commented on #113
@mdaines Thanks for considering my idea and for your suggestion. I realized I wasn't at all clear about what I wanted to achieve, which was kind of opposite to your suggestion.

What I wanted to do was to retrieve data about how Graphviz draws its standard shapes in order to be able draw an exact copy of such a shape on top of a graph already laid out by Viz.js and then call Viz.js again and let t

[2018-04-04 21:13] mdaines commented on #113
@magjac That looks very interesting! I'm not sure how you're accomplishing the transition, but I would have expected it would be possible to extract the SVG element you're interested in by selecting it using `getElementById`?

[2018-04-04 22:38] magjac commented on #113
@mdaines Sorry, I don't think I really understand your question. I'm using [d3-transition](https://github.com/d3/d3-transition) for the transition and [d3-selection](https://github.com/d3/d3-selection) to select and extract the SVG element I'm interested in. Under the hood [d3.select()](https://github.com/d3/d3-selection/blob/master/src/select.js) uses ```querySelector```.

[2018-04-05 13:34] mdaines commented on #113
@magjac I was wondering why you need more information from Graphviz about how it draws its shapes and what information you're interested in getting, since you can query for the elements using D3 or `querySelector`, etc.

[2018-04-05 13:41] mdaines commented on #113
I've posted a proof-of-concept here: https://github.com/mdaines/viz-ui

This is a reworking of the current Viz.js website using a vanilla Create React App project.

The relevant API is in this directory https://github.com/mdaines/viz-ui/tree/master/src/viz and I make use of it in https://github.com/mdaines/viz-ui/blob/master/src/Graph.js

Usage boils down to something like this:

[code]

This is a

[2018-04-05 15:50] magjac commented on #113
@mdaines I want to be able to instantly draw a new node shape on top an already existing graph without having to let Viz.js compute a new layout immediately. Then, sometime later, I let Viz.js compute the new layout and let the old graph transition into the new layout.

In my first approach (which I have now abandoned), I needed the information in order to be able to draw that new shape correctly

[2018-04-05 17:17] mdaines commented on #113
@magjac I see! Sounds like a good approach. Maybe somewhat in the spirit of Viz.js also. 😄

As far as deeper access to Graphviz, one place I can see a possible benefit would be providing input as something other than a DOT string. That could mean exposing the Agraph stuff somehow.

[2018-04-07 00:08] NebuPookins opened #122 "Document supported node shapes"
I tried to make a graph with nodes `node[shape="record", style=filled,fillcolor=gray95];` which did not appear to work mainly due to this implementation not recognizing the `record` shape. It'd be nice to have a list of the supported shapes. Based on https://github.com/mdaines/viz.js/blob/1b2d0ba32e163941fdd70302dea9f60e016f21b6/test-browser/graphs/shapes.dot it looks like it supports circle, egg,

[2018-04-07 13:48] mdaines commented on #122
All of the Graphviz shapes should be supported, with the exception of user-defined shapes in some cases. Can you post an example?

I get the same output on http://viz-js.com for the following graph as I get using the `dot` program.

[code]

[2018-04-07 22:58] NebuPookins commented on #122
Thanks, it looks like your plugin does support records, but my graph is failing to render for a different reason.

This fails to render with `Error: lost 4 3 edge`:

[code]

But this renders correctly:

[code]

The only difference between the two is I omitted the `shape=record`, so I had incorrectly concluded this meant that record shapes were not supported.

[2018-04-07 23:02] NebuPookins commented on #122
It looks like the issue is related to some interaction between the dot engine and the constraint attributes.

This renders in the dot engine:

[code]

And the original graph also renders if I change the engine to anything other than dot, for example circo.

[2018-04-08 00:48] mdaines opened #123 "Graphviz can produce both output and an error in some cases"
In some cases, Graphviz can produce both output and an error (that is, for some graphs, the command-line program will render output but also exit with an error code). See #122.

What should Viz.js do in this case? One possibility is to include the output (if any) with the error object.

[2018-04-08 00:51] mdaines commented on #122
The Graphviz command-line program produces output for that first graph, but also produces errors (and exits with an error code). The output for that graph is incorrect -- it omits edges as the error message implies.

Viz.js always throws an error if Graphviz produces one, so I believe that's why you're seeing that in this case. I think it might make sense to do something different from the current

[2018-04-08 00:51] #122 closed

[2018-04-16 14:36] trustin opened #124 "CLI compatible with upstream dot"
I wonder if it's possible to provide the command-line interface or some API that takes command-line arguments that mimics the behavior of the upstream `dot` command.

Combining with https://github.com/nexe/nexe, we could build an alternative portable `dot` binary, that can run without any pre-installed shared libraries.

[2018-04-16 18:46] mdaines commented on #124
I think this is out of scope for Viz.js, but it should be straightforward to adapt the build to create such a package. I believe the `dot` command-line parsing code is available when using Graphviz as a library.

[2018-04-19 03:08] yuanqingfei opened #125 "html label cannot render the online image"
I tried to render
[code]

in http://viz-js.com/  . It doesn't work unless I remove the 'img' element. But in offline graphviz, it works. Anything I missing? or this is a bug?

[2018-04-19 12:30] mdaines commented on #125
While you can use the image attribute with Viz.js (even HTTP URLs), viz-js.com doesn't support this, since it currently has no way of loading images to determine their dimensions. `<img>` tags should work, but I haven't tested them.

When using images with Viz.js you'll need to specify the dimensions of the image:

[code]

[2018-04-19 13:39] yuanqingfei commented on #125
I just tried. It still doesn't work in http://viz-js.com even I add dimensions to my img element. I really hope that it can work properly with
[code]

[2018-04-19 14:31] mdaines opened #126 "Investigate supporting images in web UI"

[2018-04-19 14:34] mdaines commented on #125
Sorry, viz-js.com doesn't support that. And I believe Graphviz doesn't support width and height attribute on `<img>` elements, but I could be wrong.

Images are only supported using the `images` option when using Viz.js as a library.

It would be nice to be able to use images in the web UI, so I've added an issue for that: #126

[2018-04-19 14:34] #125 closed

[2018-04-24 18:17] yuanqingfei commented on #113
@thari  I am a newbie in ScalaJs. I wonder if you could help with a facade of [d3-graphviz](https://github.com/magjac/d3-graphviz). If so, that will be much better

[2018-04-24 18:39] thari commented on #113
@yuanqingfei I am still, trying to find time to work on the promised Scala.js facade for this library. Although I am proficient in Scala, I am new to js and web workers. I am sure it will be fun to build a facade for d3-graphviz however, I don't think I can work on it any time soon.
@mdaines Yes, I am working on a uTest based testing framework.

Sorry to pollute here :(

[2018-04-24 20:53] mdaines commented on #113
I think 2.0.0 has settled down a bit at this point, so I'm going to close this. Please check out the latest prerelease in the Releases section or on npm and open a separate issue if you have feedback.

[2018-04-24 20:53] #113 closed

[2018-04-28 10:09] nikeee opened #127 "TypeScript + Module system"
I am planning to use Viz.js in Node and in the browser, using TypeScript.
The 2.0.0 Usage states:
https://github.com/mdaines/viz.js/wiki/2.0.0-Usage

When running node:
[code]

In the browser:
[code]

The second version looks like ES modules. However, if I compile this with TypeScript (`tsc --module es6 a.ts`), I get therse errors:
[code]
The resulting JS looks like the TypeScript source.

If I ru

[2018-04-30 16:24] mdaines commented on #127
It looks like there are a couple problems with the TypeScript declarations I've written. I'll have a fix for that soon.

The usage example with the import statements is intended for bundlers like Rollup or Webpack that allow for importing files as paths in the final bundle rather than bindings. The reason for the odd `.js.opaque` name is to indicate that the bundler shouldn't look inside that file

[2018-05-01 20:45] rafalkasa opened #128 "Add custom css style to svg"
Hi

Thank you for the project and hard work that you did. I would like ask you if you know how to add custom style to generated svg. I would like to customize generated output a little, but I can't because in most of modern web browsers is forbidden change embedded content.
When I try to do the same as it was described here: https://benfrain.com/selecting-svg-inside-tags-with-javascript/ I receive

[2018-05-03 15:18] mdaines commented on #127
I've decided to remove the TypeScript declarations from this repository. I don't use TypeScript, and I don't have time to maintain them. If by any chance you're interested in working on this, you are of course welcome to contribute declarations for Viz.js to DefinitelyTyped.

[2018-05-03 15:18] #127 closed

[2018-05-04 06:48] aduh95 opened #129 "Possible memory leak warning"
I have noticed on Node.js using viz.js@2.0.0-pre.7, after processing several graph, a warning is emitted from the console:

[code]

I suppose this is because the events does not get garbage collected after the diagram is rendered.

Could you remove the event listeners once used? Or [set a infinite limit](https://nodejs.org/docs/latest/api/events.html#events_emitter_setmaxlisteners_n) on the event

[2018-05-04 13:14] mdaines commented on #129
Can you provide an example of how you're calling Viz.js? It's possible that I'm doing something with promises that's causing uncaughtException listeners to not be removed.

[2018-05-04 14:38] mbostock opened #130 "AMD compatibility broken in 1.8.1."
Viz.js 1.8.1 adds a new UMD block that 1.8.0 didn’t have:

[code]

But Viz.js 1.8.1 retains the global / CommonJS export block from previous releases:

[code]

As a result, in an AMD environment (such as when using [d3-require](https://github.com/d3/d3-require) inside of [Observable](https://beta.observablehq.com)), loading Viz.js 1.8.1 returns the `Module` object (created by Emscripten?) rather t

[2018-05-04 14:48] mbostock commented on #130
I see you’re already using Rollup for 2.0.0, hooray! So feel free to close this if you don’t feel a need to ship a patch release for v1. 😄

[2018-05-04 14:54] aduh95 commented on #129
OK, here is a script that triggers the warning.

[code]

Here is the output I got:

[code]
[code]

[2018-05-04 14:58] aduh95 commented on #129
Interestingly, the warning does not trigger if I re-use the same Viz object:

[code]

The output I get:

[code]

[2018-05-04 20:50] mdaines opened #131 "Viz.js 2.0 should work in Observable"
So far, two issues with this:

- It appears that Observable would already run Viz.js in a worker, and creating a worker with an unpkg.com URL fails in that context.
- `full.js.opaque` isn't served with a script MIME type, so even if we want to just use the `Module` and `render` options directly, we can't.

The easiest solution would appear to be abandoning the odd `.js.opaque` file name extensions

[2018-05-04 20:53] mdaines commented on #130
@mbostock I've released 1.8.2, which I think should address this.

I am using Rollup for 2.0.0, but I'm also splitting the Emscripten stuff into a separate file so it can be used as a Web Worker. That doesn't quite work in Observable yet as I just found out. I've created an issue for that here: #131

[2018-05-04 20:53] #130 closed

[2018-05-05 05:15] magjac commented on #130
Thanks a lot. Here is evidence that it's working:
https://beta.observablehq.com/@magjac/d3-graphviz-fiddling-not-working
https://talk.observablehq.com/t/global-is-undefined-when-using-viz-js-through-d3-graphviz/706/16?u=magjac

[2018-05-07 14:03] mdaines commented on #131
The following works now:

[code]

[2018-05-07 14:45] mdaines commented on #131
The rendering script file can also be used directly:

[code]

[2018-05-08 15:11] nikeee opened #132 "ES Module Support"
Is there any plan to support ES modules?
[Firefox 60 is just around te corner](https://hacks.mozilla.org/2018/03/es-modules-a-cartoon-deep-dive/) and supports ES Modules. From there on, all major browsers support ES Modules.

Edit: Or a I missing something and Viz.js already suports ES modules? If so, you can close this issue.

How would one include the es module? Like this?
[code]

[2018-05-08 17:35] mdaines commented on #132
The prerelease versions of Viz.js support this as of 2.0.0-pre.7. Here's an example:

https://github.com/mdaines/viz-examples/blob/master/script-tag/module.html

[2018-05-08 17:35] #132 closed

[2018-05-15 18:34] nidi3 opened #133 "Can't get yInvert to work"
`viz.renderString(...,{yInvert:true})` seems to have no effect.

[2018-05-15 19:14] nidi3 commented on #120
Version 2.0.0 brought a HUGE improvement:

test | viz 1.0.0 |  viz 1.5.0  | viz 1.8.1 | viz 2.0.0
-- | -- | -- | -- | --
simple  | 3.7 | 22.9 | 51.7 | 2.2
attributes  | 4.8 | 26.3 | 54.2 | 2.6
polygons | 1.9 | 14.7 | 39.4 | 1.4
records | 1.7 | 22.8 | 40.2 | 1.4
big| 47.9 | 216.6 | 206 | 19.8
loc | 3.4 | 20 | 45.3 | 2.3
cluster | 5.9| 31.2 | 53.3 | 3.2

really great work!

[2018-05-17 13:26] JonNielsen opened #134 "Lost edge"
Hi everyone.

The following graph gives a fatal error and cannot be drawn.

I hope you can help me understand the issue.

`
digraph X {
    rankdir=LR;
    graph [fontsize="10", fontname=Verdana];
    node [shape=record, fontsize="10", fontname=Verdana];
    subgraph cluster_0 {
        node [style=filled];
        color="#ef882f";
        label=c0;
        "b7bce8ef-4a83-450c-9127-e0e3ebe28a15" [

[2018-05-17 14:09] magjac commented on #134
For the record: It works with stand-alone dot version 2.36.0 and 2.38.0. Viz.js uses [2.40.1](https://github.com/mdaines/viz.js/blob/master/Makefile#L6), but neither @JonNielsen nor me had access to dot at that version, so we couldn't tell if dot is broken after 2.38.0 or if it is the Emscripten port that is broken.

Increasing the memory to 52 MB didn't help either.

[2018-05-17 15:13] JonNielsen commented on #134
@mdaines

Thank you for taking your time to reply. I'll try testing it tomorrow morning and give feedback. 👍

[2018-05-18 10:15] JonNielsen commented on #134
You were right @mdaines. It was solved by removing "record" as shape.

[2018-05-18 15:44] andrwwbstr opened #135 "Second render of large graph fails"
When a large graph is rendered twice (`renderSVGElement` on web worker, v2.0.0), the second render fails with "Cannot enlarge memory arrays".  If the second render is a much smaller graph, it succeeds, but can take a very long time (>10s) under some circumstances.

Creating a new Viz instance and using that to render the second graph does work properly.  However, it leaves an active web worker unl

[2018-05-18 18:02] mdaines opened #136 "Clients should be able to ask the Viz instance to clean up after use."
This may include:

- Removing the event listener added by WorkerWrapper.
- Terminating a Worker instance.

[2018-05-18 18:11] mdaines commented on #135
It seems like a memory leak, but I wonder if something else is going on? If I try rendering the graph twice on the command line I get some interesting output: (test.dot and test2.dot are both the bigDot example above).

[code]

I agree about cleaning up the worker and I've added another issue to track that: #136. It might also help to document WorkerWrapper.

[2018-05-18 21:55] andrwwbstr commented on #135
Dug into the Graphviz source a bit.  I suspect this is a result of a double free.  A pointer appears to be not updated after a realloc.  This seems to make things better, but I don't know if it's correct:

[code]

I will take this up with the Graphviz folks.

[2018-05-19 09:02] rafalkasa commented on #128
I have added to dot file:
[code]
and after generation to svg the result is as below:
[code]
@mdaines thank you for help and explanation

[2018-05-23 21:54] hjkatz opened #137 "HTML-like labels do not render properly in v1.8.0+"
The following dot renders correctly on the example site with version 1.7.0:

[code]

In versions starting with 1.8 (including 2.0) the rendered svg does not include the sub_value element.

I'm not sure what's going on, but I'm using v1.7.0 for the time being.

[2018-05-24 07:07] magjac commented on #137
It renders on http://viz-js.com/.

However, you should use shape=plain with [HTML-like labels](https://www.graphviz.org/doc/info/shapes.html#html). If you do, it will respect border="0" and not draw the border.

[2018-05-24 14:05] hjkatz commented on #137
@magjac I agree with you, that's what I meant by saying it renders on the example site. However, http://viz-js.com/ is currently using version viz.js@1.7.2, not the latest, and this is why I've dropped my version for the time being.

[2018-05-24 14:33] mdaines commented on #137
@hjkatz Can you attach an image of the expected output? This is what I get using Viz.js 2.0.0:

![unknown](https://user-images.githubusercontent.com/1383/40491814-0e8a74ee-5f3d-11e8-9fb0-805ea4a49def.png)

For ease of testing, there is a new version of the web UI that does use 2.0.0 here: https://mdaines.github.io/viz-ui/ I plan to update viz-js.com soon.

[2018-05-24 14:38] hjkatz commented on #137
@mdaines I found the problem. I was using `lite.render.js` not `full.render.js`. I'm not sure why this would be the issue though, because I'm only using SVG and the DOT engine so I assumed lite would work fine.

Feel free to close this issue.

[2018-05-24 16:34] mdaines commented on #137
@hjkatz Ah, I see. The "lite" version doesn't support HTML labels as it omits the Expat XML parser.

[2018-05-24 16:34] #137 closed

[2018-05-27 03:11] dnephin opened #138 "gh_pages: Features for viz-js.com"
Hello, couple questions

I noticed you recently released a 2.0 version of the library. I'm wondering if you are planning on updating viz-js to use the new version.

I've been working on some changes to the UI for my own use (https://dnephin.github.io/viz-dot-editor/) and I'm wondering if you would be interested in a PR for any of these:

Features:
* 1e667a948e8c29b29ba03fcb20d07ec38752a0f1 save th

[2018-05-27 15:49] mdaines commented on #138
@dnephin I recently rewrote the web UI for Viz.js using React (that's the viz-ui project). It's still missing a few features from the current viz-js.com, and I have been wondering whether or not to reimplement them.

Going forward I think I am going to stick with adding as little as possible -- I don't want it to be much beyond a basic demo. But I definitely encourage you to develop your own edito

[2018-05-27 15:49] #138 closed

[2018-05-29 03:11] sandorfr opened #139 "Edges on records broken on 2.0"
I noticed that edges are not rendered properly on 2.0

On 1.7 it's rendered like this:
![image](https://user-images.githubusercontent.com/2660262/40636271-93a8545e-6341-11e8-9415-aae5ae503678.png)
On 2.0
![image](https://user-images.githubusercontent.com/2660262/40636282-a56d1b84-6341-11e8-815f-a42bacabcd7e.png)

Any idea about the cause ?

Code:
[code]

[2018-05-29 08:58] aduh95 opened #140 "Support for async iterators"
This is a feature request.

It would be nice if `viz.js` would support [async] iterator like objects (array, Stream, generators, async generators, ...) since the API is `async` anyway. Here is an idea of what I have in mind:

[code]

The goal of this is to make file rendering more efficient and less memory consuming:

[code]

Because I am not familiar on how the I am not sure it makes sense on a p

[2018-05-30 11:33] mdaines commented on #140
Right now I consider the work done by the render functions to be indivisible. It might be possible to break it up in some way, though.

You can use something like tiny-worker in Node to approximate using web workers in the browser. This is adapted from the tests:

[code]

[2018-05-30 11:33] #140 closed

[2018-05-31 00:17] mdaines commented on #139
Here's what I get out of Viz.js 2.0.0 on https://mdaines.github.io/viz-ui/ -- this looks like the expected output you posted.

![image](https://user-images.githubusercontent.com/1383/40754142-aaa0d708-6445-11e8-8dc7-b8f8fb860c27.png)

When I render this graph using the `dot` program, I get this warning: "node node3, port from unrecognized". I notice that node3 does in fact have no "from" port?

[2018-05-31 00:55] sandorfr commented on #139
Thanks for the link to the updated playground, `viz-js.com` is still on an older version. This is why I assumed there was a difference.

that must be something environmental :(

Do you see anything wrong in this code?
[code]

[2018-05-31 11:52] mdaines commented on #139
That code should be fine. Can you give more context? How are you including the render script file? (full.render.js or lite.render.js)

[2018-06-04 21:08] nikeee opened #141 "Render as PNG and SVG file in API 2.0"
The API docs do not mention anything that can render a graph to a PNG or SVG file. It was possible in `1.x`, but now it seems to be gone.

Is this planned for the future? This would be a very nice feature!

[2018-06-04 21:14] nikeee opened #142 "Method to get all available layout engines"
Is there any method that returns an array of all possible layout engines?

Currently, I'm copying the array in the docs:
https://github.com/mdaines/viz.js/wiki/API#render-options

However, I don't want to update this manually, as this can just be replaced by a single API call, if there was one. WOuld it be possible to add something like this?

[2018-06-06 15:12] nikeee commented on #141
Looking at the source, there are several references to a `png` format. Using `renderImageElement`, it seems to be possible to render an [`Image`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/Image). My intention was to let the user download the image.

Since the `HTMLImageElement` has a `src` property, which can be used to download the PNG image, this seems to work for me.

Al

[2018-06-06 15:12] #141 closed

[2018-06-06 23:44] mdaines commented on #141
Yes, the `renderImageElement` function in 2.x is the equivalent of the "png-image-element" format in 1.x.

[2018-06-06 23:53] mdaines commented on #142
It might be. The `dot` program does something similar: it can generate a graph showing the available plug-ins, including layout engines. However, the list of layout engines in Viz.js is not likely to change very quickly.

[2018-06-11 19:07] nikeee commented on #53
Visualizing the user input of an online DOT editor.
https://edotor.net

[2018-06-13 14:35] awjreynolds opened #143 "Typescript Declarations for 2.0"
Hi,
I note the 2.0 release removed TS declarations. Is this something that is planned to be re-introduced?

Adam

[2018-06-14 10:42] ripetti opened #144 "Syntax error with IE11"
I try to setup a testpage. It works with FF but with IE11 I get a syntax error especially at line 16:
` .catch(error => {`

Full source is here:

[code]

[2018-06-18 14:23] ripetti commented on #144
It's ok. IE can't understand this syntax. Use the old one:

`.catch(function(error){`

[2018-06-18 14:23] #144 closed

[2018-06-18 23:05] mdaines commented on #143
@awjreynolds Not currently. As I don't use TypeScript in any of my projects, I felt like I was putting too much effort into getting it to work properly.

[2018-06-18 23:05] #143 closed

[2018-06-25 13:58] IvanGoncharov commented on #90
@mdaines As I understand post-`v2.0` API has potential to support WASM.
What are the next steps and how we could help?

[2018-06-25 21:56] mdaines commented on #90
I was thinking it looks something like this:

- Add a target to build a WebAssembly binary.
- Implement a wrapper like ModuleWrapper or WorkerWrapper so that `Viz` instances can be constructed by specifying the WebAssembly binary.

[2018-06-25 22:09] christianvoigt opened #146 "Add option to remove svg prolog from generated string"
Hi, I am still using viz.js in the old synchronous mode (using `Viz(dotString)`) and it seems that you recently added a svg prolog to the result: `<?xml version="1.0" encoding="UTF-8" standalone="no"?> <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">`.

In an older version there were only comments used, right? Currently I can not use the asynchrono

[2018-06-25 22:52] aduh95 commented on #146
Couldn't you use [`DOMParser`](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser) for that purpose?

[code]

[2018-06-26 07:44] christianvoigt commented on #146
Thank you for the tip, but the code has to run in node.js so I can not use DomParser.

[2018-06-26 11:47] mdaines commented on #146
I’m not aware of an option to remove the prolog—Viz.js doesn’t add it, so perhaps it was added to Graphviz output at some point? Unless there is an option I can pass to the Graphviz library to remove it, I would probably need to resort to a regular expression or parsing the SVG as well.

[2018-06-26 11:55] aduh95 commented on #146
Take a look at [SVGO](https://github.com/svg/svgo) which will remove the prolog, DOCTYPE and produce a much smaller string without the need to hard code a dirty regex yourself that could break if Graphviz changes its output in a future version.

[2018-06-26 12:00] christianvoigt commented on #146
@mdaines: Ah ok, that makes sense. I thought this was coming from viz.js

@aduh95: SVGO looks great, though I am also hesitant to add another dependency (the code will run in node and the browser so file size should be kept small). So I will have to think about it.

[2018-06-26 12:00] #146 closed

[2018-07-05 14:40] sverweij opened #147 "multi-byte characters in labels take up twice as much space as in 'native' graphviz"
### Steps taken

Render this digraph with viz.js (either version 1.8.x or 2.0.0)

[code]
... or this one that uses html style label formatting...:

[code]

### Expected
This is the output from the 'native' graphviz dot (version 2.40.1) respectively:
![regular-graphviz-output](https://user-images.githubusercontent.com/4822597/42329691-9d380db4-8071-11e8-9b7f-840690fe6e24.png) ![graphviz-output](htt

[2018-07-11 15:00] chanilino opened #148 "New application with this library"
It is only to inform you, that I used your library to build a tidlywiki plugin. And it is working great. Thanks for your project.

Here is the project: https://github.com/chanilino/tw5viz

[2018-07-11 22:42] mdaines commented on #148
Nice! Thank you for the note.

[2018-07-11 22:42] #148 closed

[2018-07-25 08:09] saraa1986 opened #149 "Nodejs and Graphviz"
Hey.
I would like to use graphviz package in my Nodejs project.  I want to have neat graph to represent the idea of my work; For which I would like to have a graph like [this](https://graphviz.gitlab.io/_pages/Gallery/directed/cluster.html), with sub-graphs. I have already install the graphviz package in my nodejs project by which I can drew simple graph, following this [code ](https://github.com/

[2018-07-25 08:32] aduh95 commented on #149
Did you take a look at the [Usage page]{https://github.com/mdaines/viz.js/wiki/Usage#as-a-commonjs-module-such-as-in-nodejs} in the wiki? Is there a point you'd like to be clarified?

[2018-07-25 13:33] FliegendeWurst opened #150 "Disable layout (neato)"
The graphviz manpage:

    -n[1|2] (no‐op) If set, neato assumes nodes have already been positioned and all nodes have a pos attribute giving the positions.  It then performs an  optional  adjustment  to  remove  node‐node  overlap,
       depending  on the value of the overlap attribute, computes the edge layouts, depending on the value of the splines attribute, and emits the graph in the appropr

[2018-07-25 14:17] saraa1986 commented on #149
hi @aduh95 . Thanks for the link. Can you advise me on how can I have the output in a vsiual format like png or svg.

[2018-07-25 14:38] aduh95 commented on #149
Well, by default `viz.js` outputs an SVG, and you can change that passing a [`RenderOption`](https://github.com/mdaines/viz.js/wiki/API#render-options) object as second argument of the `renderString` method.

Here is an example taken from the wiki using the graph you linked to on the Graphviz docs:

[code]

Running this script on Node returns a SVG similar to the one on the Graphviz docs.

![Graph

[2018-07-25 15:56] saraa1986 commented on #149
this is exactly what I want. to have a graph like that. Where the SVG file will be saved? How can I specify the path? I have tried the followig:

[2018-07-25 16:55] aduh95 commented on #149
As its name suggests, `renderString` renders a string. The string represents the graph on the format specified in the `RenderOptions` object. Once the Promise is resolved, you can do whatever you want with that string. In my example, I pass it to `console.log`. If you run the script I put in my previous comment, the SVG will be written on stdout.

[code]

However, if you want to save it programmat

[2018-07-26 11:05] saraa1986 commented on #149
@aduh95  You really helped me. Thanks :) 👍

[2018-07-26 11:07] aduh95 commented on #149
You're welcome. Could you please this issue if you solved your problem?

[2018-07-26 12:19] #149 closed

[2018-07-30 08:40] FliegendeWurst opened #152 "Build fails"
make deps log: https://pastebin.com/TQtbJg5R (probably fine)
make all log: https://pastebin.com/vE9HMiDk ("cannot find library", "unresolved symbol")

I'm using Opensuse Tumbleweed.

[2018-08-01 02:32] mdaines commented on #152
This could be the problem? (in the `make deps` output)

[code]

On my system, the libraries are "installed" in `prefix-full/lib`.

[2018-08-05 20:43] #152 closed

[2018-08-05 21:15] #150 closed

[2018-08-09 10:07] nidi3 opened #154 "viz.js fails on graph with records"
[code]
This fails in viz.js with the message
[code]
But it works in the native `dot` program.

When I change the `fontname` or the last two lines into `"node2":"p" -> "node6":"o1":nw;
"node4":"p" -> "node7":"s7":sw` it also works.

Any ideas what this could be?

[2018-08-15 18:59] zhDmitry commented on #56
this issue was introduced in 1.8.0, you won't have this issue on site viz-js.com becuase it has 1.7.1 version installed

[2018-08-18 16:45] zhDmitry commented on #90
any updates on this ? Is there some guide how to compile this lib to web assembly ?

[2018-09-05 13:33] SaphuA opened #155 "Will typings ever come back?"
I was so happy when viz finally supported typings and now they are removed without any justification as to why. Is this temporary or will they never come back?

[2018-09-05 14:11] mdaines commented on #155
I don't have time to maintain them. Part of that is that I don't use TypeScript, so it's more effort to ensure that the type information is correct.

[2018-09-05 14:11] #155 closed

[2018-09-05 15:21] mbostock commented on #131
Here’s a working notebook:

https://beta.observablehq.com/@mbostock/hello-viz-js

I’ve also updated [@observablehq/graphviz](https://github.com/observablehq/graphviz) to use Viz.js 2.0 (in-process, not in a web worker), as shown here:

https://beta.observablehq.com/@mbostock/graphviz

[2018-09-05 15:39] #131 closed

[2018-09-07 12:28] dsl101 opened #156 "Adding gvmap into the package"
I'm desperately seeking to replace an antiquated command-line app with a nice web app, and this gets me 50% of the way there, but it also relies on `gvmap` to turn the output of running, say, `sfdp` into coloured clusters. In fact, the current script runs the data through `fpd` / `sfdp` / `neato`, pipes the output to `gvmap`, then pipes _that_ to `neato` again. The full script does something like

[2018-09-11 08:14] SaphuA commented on #155
It's not that much trouble to add typings since the library isn't that complex. I just did it for the methods that we use. Any chance they get added back in if I type the entire library?

[code]

[2018-09-11 08:34] IvanGoncharov commented on #155
@SaphuA You can submit your typings to DefinetlyTyped:
https://github.com/DefinitelyTyped/DefinitelyTyped#create-a-new-package
IMHO, it's the best option for a case when library author don't have time to maintain it.

[2018-10-01 10:54] rfreitas commented on #89
It doesn't seem that this option is working anymore.
Also by inspecting the code I was not see evidence that this parameter is being passed down.

PS. I'm using url web workers

[2018-10-15 04:59] sandorfr commented on #139
Hi sorry for the late reply.

The context is an extension for VS Code: https://github.com/geeklearningio/graphviz-markdown-preview/blob/feature/update-version/graphviz-render.js

It seems entirely related to the electron environment it's running in. I can't think of a reason it behaves differently as in chrome as it's chrome based.

[2018-10-29 18:56] Kyle0923 commented on #53
Hey @maccesch , I am also trying to incorporate viz.js with Cytoscape. Any chance you can share some insight with me?

[2018-11-07 11:12] maccesch commented on #53
@Kyle0923 Sorry for the late answer. I created a [Gist](https://gist.github.com/maccesch/791843a0c6c125f6b04b16106a29e4a0).

[2018-11-08 23:55] pokrakam opened #157 "Can't use ampersand (&) in URL"
Viz.js throws an error if a URL has an ampersand in it.
Working example:
`digraph G { 1; 2; 3 [URL="./?foo=1"] }`

Try adding another URL parameter:
`digraph G { 1; 2; 3 [URL="./?foo=1&bar=2"] }`
And it comes up with an error:
![image](https://user-images.githubusercontent.com/25539927/48234443-84b57080-e3b1-11e8-9d4b-a897e887e8d2.png)
This fails with Safari on Mac and Chrome on Windows. I have al

[2018-11-10 15:06] mdaines commented on #157
Escaping the ampersand works for me:

[code]

I believe the behavior of Viz.js is consistent with the regular version of Graphviz, because I see the same error when I ask the `dot` program to render that graph as SVG and look at it in a web browser.

[2018-11-10 15:06] #157 closed

[2018-11-10 16:51] pokrakam commented on #157
Hi, thanks for looking into this!
It's obvious now, and the error message makes sense too. I used regex escape "\"...
It did work with straight ampersands with an earlier version - not sure which one, it was from 2017.

[2018-11-14 04:53] avet-dvlp opened #158 "Question: how to display labels with quotation marks?"
I am trying to display a graph where some labels have quotation marks inside.
But the code I am using is throwing an error:
[code]

At the same time I can see that http://viz-js.com/ displays it correctly. Any advice on how to encode the graph string correctly?

Thanks.

[2018-11-14 14:04] mdaines commented on #158
You may need to escape both the backslash and the double quote within the label when writing the string in JacaScript, so that Graphviz will see a backslash and a double quote rather than just a double quote. Like this: `\\\"`

[2018-11-15 03:05] StoneCypher commented on #53
Live rendering of finite state machines (whose notation is very similar to DOT)

https://stonecypher.github.io/jssm-viz-demo/graph_explorer.html

[2018-11-15 03:07] Kyle0923 commented on #53
@maccesch Thanks man. Great help!!

[2018-11-15 03:20] StoneCypher opened #159 "2.0.0 still published on NPM"
please update the npm package

[2018-11-16 03:50] avet-dvlp commented on #158
Nice, thanks a lot!
It works.

[2018-11-16 03:50] #158 closed

[2018-11-30 16:24] zetaraku opened #160 "full.render.js is broken on Realese 2.1.1"
The error message is `Identifier 'error' has already been declared`
since `error` is already declared in the catch clause.

**full.render.js**
[code]

[2018-12-02 14:55] mdaines commented on #160
In what environment and situation are you seeing this? I think the referenced commit should address it, but knowing that might help prevent similar mistakes in the future.

[2018-12-02 16:15] zetaraku commented on #160
I was using viz.js with webpack, it gave me the error below when packing my project.

[code]

[2018-12-05 12:53] mdaines commented on #160
[v2.1.2-pre.1](https://github.com/mdaines/viz.js/releases/tag/v2.1.2-pre.1) (also on NPM) includes a fix for this.

It looks like you're importing the render script file. You can certainly do that, and I've added [an example showing that technique](https://github.com/mdaines/viz-examples/tree/master/webpack-no-worker). It fails to build with v2.1.1 (in the way you're seeing) and works with v2.1.2-

[2018-12-06 05:31] zetaraku commented on #160
Thanks for the quick fix and the suggestion and explanation of using file-loader! :D
My project now works fine!

Since the render script is a special case for the .js files, I use:
`import vizjsWorkerURL from 'file-loader!viz.js/full.render.js';`
to import it instead. :)

[2018-12-06 05:31] #160 closed

[2018-12-06 18:43] StoneCypher opened #161 "Sorry, it's another rollup / typescript question"
So, okay, I know you're tired of these.  I think mine's a little different, though.  I don't want TS bells and whistles.

Hi, I really like your work.  Stuffing something as hairy as Graphviz through anything, let alone a velcro forest like emscripten, is legitimately fucking impressive.

[I am already a semi-successful user of your work](https://stonecypher.github.io/jssm-viz-demo/graph_explorer.

[2018-12-06 18:46] StoneCypher commented on #156
whoa, i've never even heard of gvmap, and i've been using graphviz for 15 years

is it possible to show an example of the desired output?

[2018-12-07 11:04] dsl101 commented on #156
Yes, it takes what you might normally get from a `sfdp` output and produces things like this. Obviously this one is just a test with our team, based on share interests, but you can imagine when there are 30–40 people, with many individual and shared 'tags', it's a nice way to visualise the clusters within a group.

![neato](https://user-images.githubusercontent.com/900542/49644178-a8e78a00-fa0f-11

[2018-12-08 15:38] mdaines commented on #156
This looks interesting, but I'm probably not going to add `gvmap` to Viz.js. It should be possible to cross-compile the `gvmap` command using Emscripten, however.

[2018-12-08 15:38] #156 closed

[2018-12-08 15:52] mdaines commented on #161
What error are you getting from rollup?

Here's an example of producing a single bundle with webpack: https://github.com/mdaines/viz-examples/tree/master/webpack-no-worker However, Viz.js 2.1.1 has a bug that prevents webpack from processing it successfully in this situation. See #160. I have a fix in 2.1.2-pre.1, and I'm going to release 2.1.2 today.

You can also concatenate the `viz.js` and `fu

[2018-12-08 16:25] StoneCypher commented on #161
I got a thousand errors from a thousand paths through rollup, at least 995 of them my own fault, and I don't know enough to tell them apart.  However I did not see #160.  (Or if I did, I didn't notice it.)

My pernicious problem wasn't actually an error.  It was rollup proceeding thinking things were done, with the code not actually physically present in the bundle.

I will see what I can squeeze

[2018-12-08 16:36] StoneCypher commented on #161
Sorry for the stupid question

`no-worker` implies that the worker is being packaged in, and that there's no ancillary load, rather than that the facility offered is removed, yes?

[2018-12-08 16:41] StoneCypher commented on #156
@dsl101 - there are a literal million of them, and I would need to better understand your needs before I could recommend.

If all you need is a voronoi renderer, I chose one ten years ago and I still use it by habit.  There's probably a better choice by now but I've never bothered to go find it.  I use [RHill's voronoi core](https://github.com/mizchi/voronoi/blob/master/rhill-voronoi-core.js) from

[2018-12-08 16:43] StoneCypher commented on #156
[This is what the results look like](http://www.raymondhill.net/voronoi/rhill-voronoi.html)

[2018-12-08 16:45] mdaines commented on #161
Yes, the output of the `webpack-no-worker` example is a single file, `bundle.js`, that includes both `viz.js` and `full.render.js`.

~~I'll see if I can come up with a rollup example as well.~~ I forgot that there already is one: https://github.com/mdaines/viz-examples/tree/master/rollup but it uses a worker.

[2018-12-08 16:47] StoneCypher commented on #161
You're very generous with your time 😁

TYVM

[2018-12-08 17:15] mdaines commented on #161
I've added an example for Rollup that doesn't use a worker: https://github.com/mdaines/viz-examples/tree/master/rollup-no-worker

You'll need to effectively tell Rollup not to worry about built-in Node modules like `fs`, and one way to do that is with the "ignore" Rollup plugin. References to such modules are currently included in the code generated by Emscripten, but aren't actually executed when

[2018-12-09 21:24] dsl101 commented on #156
Thanks @StoneCypher. I will take a look. The data we feed to `sfdp` / `neato` is just a 'distance' measure between each pair of people, based on the number of shared interests they have. In the `dot` file, the people are the nodes, and each pair has an edge.

If there are, say, 20 interest tags in total, then a pair sharing all 20 would have distance 1, and a pair sharing no interests would have d

[2018-12-10 04:45] StoneCypher commented on #156
Yeah I don't think clustering is the right tool.  Just by changing the number of dimensions in your cluster space, you're going to get suddenly very different results.

If what you want is landscape position and participation, here's something that's numerically a little cleaner, and also a whole lot easier to implement, and which will also give visually more appealing results:

1. Make a fixed li

[2018-12-10 09:29] dsl101 commented on #156
Tx, and weird that you use the very same interest list we do... :).

[2018-12-10 20:58] StoneCypher commented on #161
uhuhuhuhuhuhu

so.  this now builds and runs correctly in the browser, but attempting to load the commonjs version causes node to respond as if a successful load had happened, then immediately die.  wrapping in a try catch does not help or give further information.

[code]

Which is ... interesting.

[2018-12-10 21:01] StoneCypher commented on #161
You can see it [here](https://github.com/StoneCypher/jssm-viz/pull/new/AttemptingVizJs2Again) if you're curious.

Load the `html` in `./docs/` to see it work correctly in le browseur in `iife`

cd to `./build` and attempt to load the `cjs` in node in the method above to see the kaboom

[2018-12-10 21:02] StoneCypher commented on #161
oh wait, i think it's trying to append to a `document` that doesn't exist, and for some reason that failure is invisible

[2018-12-10 21:05] StoneCypher commented on #161
hm, no.

okay.  sanity check: is this actually expected to work in node?

[2018-12-10 22:36] mdaines commented on #161
It should run in node. Here are the tests if you're curious: https://github.com/mdaines/viz.js/blob/master/test-node/render.js

[2018-12-11 00:03] StoneCypher commented on #156
we all want to say barack

we all want to say lizardpeople

not that many other options

[2018-12-15 01:18] SpaceMonkeyForever opened #162 "Name "cluster" is not allowed when format = JSON"
You can try it on http://www.viz-js.com:

[code]

Select Format = "json"

You can see that the resulting "objects" field doesn't contain an object for "clusterTest" node. Other formats like SVG or Plain work fine.

[2018-12-27 05:15] shicks commented on #57
This option doesn't seem to work in 2.1.2 when viz.js is loaded in Node using `require('viz.js/full.render.js')`.

A usable workaround is as follows:

[code]

[2019-01-19 11:29] fengmk2 opened #163 "node proces crash after single viz instance renderString more then 1714 times"
Easy to reappear the crash by this script https://gist.github.com/fengmk2/ac06c36ee48eeae3c17fb0bae61a1221

[code]

[code]

[2019-01-26 03:41] wasbridge opened #164 "Can't build w/ emscripten 1.38.25 (latest)"
`bschoenberg:viz.js bschoenberg$ make all
emcc --version | grep 1.38.25
emcc (Emscripten gcc/clang-like replacement) 1.38.25 (commit df648b43825d3ab1179886d3c78020ed890333d3)
emcc -Oz --memory-init-file 0 -s USE_ZLIB=1 -s MODULARIZE=0 -s WASM=0 -s LEGACY_VM_SUPPORT=1 -s NO_DYNAMIC_EXECUTION=1 -s EXPORTED_FUNCTIONS="['_vizRenderFromString', '_vizCreateFile', '_vizSetY_invert', '_vizSetNop', '_vizLa

[2019-01-26 17:49] mdaines commented on #164
I'm working on this in the https://github.com/mdaines/viz.js/tree/emscripten-1-38 branch. It builds, but some of the tests aren't working yet. (Browser tests in Chrome work, though.)

[2019-01-27 03:35] wasbridge commented on #164
Hey FYI -- a friend of mine got it building and working for my needs, it too fails a test but doesn't appear to affect my usage...

https://github.com/bpowers/viz.js

[2019-01-27 03:35] #164 closed, assigned to nobody

[2019-01-27 07:18] AlexeyLapshin commented on #129
I think this behavior is not correct since we cannot delete an object and recreate it.

`const viz = new Viz({ Module, render });
delete viz;`

EventListener is not removed in this case, a memory leak occurs

[2019-02-19 01:20] iameli commented on #90
This would allow running Viz in a CloudFlare worker for free, which would be pretty neat.

[2019-03-06 15:04] aleen42 commented on #89
@mdaines any new set suggestions for working around.?

[2019-03-11 18:37] dkuebric commented on #89
+1 would also find this helpful

[2019-03-13 11:37] christianvoigt opened #165 "Is synchronous use still possible?"
Hi, I am using Viz.Js as a Markdown-It plugin to generate graphs in Vuepress (see https://argdown.org). Because Markdown-It is a synchronous parser, I can not use the new asynchronous syntax (that is great for all my other use cases by the way).

In #113 you wrote:

Is this still possible? If not, could you make this work again?

[2019-03-14 19:37] zmitry commented on #90
https://github.com/CyberhavenInc/graphviz-wasm
Here is wasm version of this lib
api is the same as this viz.js